[2015-12-18 12:18] RWOverdijk opened #1 "Implement refresh token"
https://gist.github.com/vuorinem/6b57225915e00920e3b1

[2015-12-19 11:18] RWOverdijk opened #2 "Fix redirect (electron)"
You know

[2015-12-22 08:29] RWOverdijk opened #3 "Configure accept config"
Configure accept config based on https://github.com/paulvanbladel/aurelia-auth/issues/71

[2015-12-22 08:33] RWOverdijk opened #4 "Configure baseUrl"
The baseUrl gets overwritten. That's not cool; inherit the default and allow for optionally passing along an instance on configure.

https://github.com/paulvanbladel/aurelia-auth/issues/59

[2015-12-22 16:49] meash-nrel opened #7 "Missing dependency"
spoonx/aurelia-api is injected in several files, but is not a listed JSPM dependency in package.json.

separately installing it is required.

Also you can remove the legacy "aurelia-http-client" dependency while you are in there, as I believe you solely rely on fetch client now.

[2015-12-22 17:31] RWOverdijk commented on #7
@meash-nrel Yes, yes and yes. You're right on the money!

[2015-12-22 17:32] RWOverdijk commented on #7
Would you mind submitting a PR if you have time? I'm currently working out some other repos!

If not, I'll do this later today or tomorrow

[2015-12-22 17:35] #3 closed

[2015-12-23 20:19] #7 closed

[2015-12-23 23:41] #4 closed

[2015-12-25 11:41] muka opened #12 "oauth2 popup fail if provider is based on same url"
As per subject,
this happens because the popup (pollPopup) check for the host only

https://github.com/SpoonX/aurelia-auth/blob/master/src/popup.js#L81

A solution may be to check for the path too

[code]

[2015-12-25 12:25] RWOverdijk commented on #12
Could you elaborate this a little bit more? I'm not entirely sure what you mean, sorry.

[2015-12-26 13:39] doktordirk commented on #12
that pollPopup waits until the the popup is back from eg facebook by testing if the popup document host is again the same as the client host.
(https://github.com/SpoonX/aurelia-auth/blob/master/src/popup.js#L84)
thus, if the oath provider and the client are hosted on that same url, the hosts are always the same and that test isn't working. adding the path could help in that scenario, but whether t

[2015-12-26 23:18] robinchesterman opened #14 "Can't set request header to application/x-www-form-urlencoded"
I think the OAuth2 spec prefers that login token requests are sent with Content-Type: application/x-www-form-urlencoded - often with a grant_type value as well.

I can't see an easy way to do this with aurelia-auth, but I may be missing something.

I'm trying to call a .Net Web Api with OWIN for all the auth stuff, and I don't have a lot of flexibility on the type of requests that will be accepted

[2015-12-26 23:28] robinchesterman commented on #14
Sorry, this probably isn't an "issue" - I'll find you on gitter.

[2015-12-27 10:18] RWOverdijk commented on #14
Interesting case. Let's talk :) https://gitter.im/SpoonX/Dev

[2015-12-28 15:23] #14 closed

[2015-12-30 08:46] RWOverdijk commented on #12
Mhm alright. And is this the only way to check?

[2015-12-30 08:56] doktordirk commented on #12
the whole concept looks wierd. i guess one can imagine a scenario where even the paths are equal. but then, what do i know

[2015-12-30 09:50] RWOverdijk commented on #12
Oh I get it now... Took me a while. You mean if the oauth provider is your own, on the same hostname? That's tricky indeed. But it's using a redirect url right, so we can tag it with something so we can identify it

[2015-12-30 12:13] muka commented on #12
Hi,
yes this is the case, my own oauth2 provider, sorry for the late response.
Maybe a double check may work either `hostname && hostname+path`
In my case I have a web client at `/admin` and `/api/oauth2/*` as the provider base path

[2016-01-06 14:34] RWOverdijk commented on #12
@muka I'm not sure how I would tackle this atm. The entire implementation around this area is.. Odd, at best. If you'd be willing to submit a PR I'd merge it :)

[2016-01-07 06:59] muka commented on #12
@RWOverdijk Ok, I will work on it next week an handle such case!

[2016-01-07 09:03] RWOverdijk commented on #12
@muka You're an end boss! Cool :)

[2016-01-22 12:06] RWOverdijk opened #27 "typings"
https://github.com/Microsoft/TypeScript/wiki/Typings-for-npm-packages

[2016-01-23 15:24] alfkonee commented on #1
I'm already working on an implementation of refresh tokens and I'd like to know which repo to create the  PR on when I'm done

[2016-01-23 17:13] RWOverdijk commented on #1
@alfkonee That's up to you. I would prefer this one, as I'd otherwise have to port code from the other.

And good to know you're working on it! Someone else is also working on it, perhaps you can [join the chat](https://gitter.im/SpoonX/Dev) and talk? Would be good to have joined efforts I think.

[2016-01-23 23:02] alfkonee commented on #1
Ok then this one it is
PS: already joined the chat if you could tell me who is already working on this it'll be great so that we can pool our efforts

[2016-01-24 14:48] #27 closed

[2016-01-24 16:21] alfkonee commented on #1
I'm getting very close to finalizing the main code maybe in the next 36 hrs
Problems: Response interception in fetch client doesn't include request the feature is still in dev with this PR https://github.com/aurelia/fetch-client/pull/34
Hope they add it soon

[2016-02-01 12:22] egeland opened #34 "Unhandled promise rejection TypeError: Cannot read property 'filter' of undefined"
Since the Aurelia team updated some packages, my `aurelia-auth` has broken, and I can't figure out if it's me doing things wrong, or if there's a bug in `aurelia-auth` or the `aurelia` code base..

Any clues would be very much appreciated!

This happens on page loading, just after loading the `nav-bar.html` (`DEBUG [templating] importing resources for http://localhost:9000/dist/nav-bar.html []`):

[2016-02-02 01:57] egeland commented on #34
After much fiddling and updating and downgrading (jspm), the error is the same, but has moved to being reported by shim:

[code]

[2016-02-02 02:43] egeland commented on #34
After further help in the Aurelia Gitter, it turns out to (of course) be a problem in my own code.

I needed to import the aurelia router to my `nav-bar.js`:

[code]

[2016-02-02 02:43] #34 closed

[2016-02-19 14:43] nathanchase opened #39 "REQ: skipAuthorization"
I saw on the [sahat/satlelizer repo](https://github.com/sahat/satellizer/) that they have the ability to prevent the authorization token on a per request basis like so:

[code]

Is this something that could be added to aurelia-auth?

[2016-02-19 15:18] RWOverdijk commented on #39
@nathanchase Aurelia-auth already has support for patching specific endpoints (not your question, but perhaps useful, I use it for our SSO server so I don't have this issue). For specific request, I advice simply ignoring the Authorization header server side, as it doesn't do any harm.

If that's really something you don't like, we accept PRs! :)

[2016-02-19 15:21] RWOverdijk commented on #12
I'll be closing this due to inactivity.

[2016-02-19 15:21] #12 closed

[2016-02-26 23:26] simeonoff opened #41 "Ability to change the login content payload"
- [x] It would be nice if we could specify the payload parameter keys for login authentication with local strategies. As of now the payload sent to the server is always `{email: email, password: password}`, while my server expects a username key as a parameter for authentication.

[2016-02-27 00:26] simeonoff commented on #41
NVM Just saw that i can pass an entire object to the login function with all the parameters I want...

[2016-02-27 16:13] RWOverdijk commented on #41
@simeonoff Sounds like you helped yourself! That's what I like to see. :)

[2016-02-27 16:13] #41 closed

[2016-03-01 09:43] AdamWillden opened #44 "App breaks when bundled"
My bundle is missing authFilter:

[code]

authFilter is required here: https://github.com/SpoonX/aurelia-auth/blob/e62c9eb9d39d674cc218ea390fa87600b7346c9f/src/index.js#L16

But is not imported, thus not bundled and so results in a 404.

I assume you just need to add `import './authFilter';` to fix this.

[2016-03-01 09:51] RWOverdijk commented on #44
~~@AdamWillden This is by design. Not everyone uses the authFilter. You'll have to import it yourself.~~

You're right, we _are_ using it. Good catch.

[2016-03-01 09:53] AdamWillden commented on #44
~~ah okay. Therefore keep this open so we can add a note to the docs!~~

Okay then! lol

[2016-03-14 10:19] #44 closed

[2016-03-15 06:55] emzero opened #51 "Does this support Yammer OAuth 2?"
Yammer has OAuth 2 authentication but I can't make it work.
https://developer.yammer.com/docs/oauth-2

Is it supported?
Do you have an example of how should I config?

Thanks

[2016-03-15 09:13] doktordirk commented on #51
@emzero
first, this repo is for the serverside flow type. client side flow is easier and doesn't need this. though maybe you can reuse some code. so, maybe tell what is your setup and what you wanna do

[2016-03-15 11:27] AdamWillden opened #52 "Fix SPA redirects"
We should use `import {Redirect} from 'aurelia-router';` function instead of using `window.location` for SPA redirects (as eluded to [here](https://github.com/SpoonX/aurelia-auth/pull/47#issuecomment-196046101)). This will:

* make things consistent (note the `loginRoute` configuration option)
* probably be safer by conforming to aurelia's routing methods. I don't know if the current method could

[2016-03-15 13:55] AdamWillden opened #53 "Add to REAMDE how this differs from paulvanbladel/aurelia-auth"
I've asked the question myself and I've seen it asked at least twice since. Save yourselves some time and stick it in the README!

See here for comments: https://gitter.im/SpoonX/Dev?at=56e7dd5e618c335373ebf2dc

----

## How this differs from 'paulvanbladel/aurelia-auth'

This repository was originally a fork of paulvanbladel/aurealia-auth. It was forked when the original repository was in a perio

[2016-03-15 15:25] RWOverdijk commented on #52
@AdamWillden I disagree. The browser will then not prompt you to save your password. Also, a reload could be good to decide which assets to load (or not load) in main.js. I did the same for our project, and it makes the login page load a lot faster (e.g. not load the stylesheets etc). I can see this being different when the login page / modal / popover is on the same page as the spa, but then it s

[2016-03-15 15:28] doktordirk commented on #52
valid point i guess. aurelia'll get a official reload option though soonish. maybe we revisit it then

[2016-03-15 15:41] AdamWillden commented on #52
Ah I see, that's a fair reason, I did wonder when I saw it asked me for my password as previous SPAs I've done didn't ask and that explains the change in behaviour!

@doktordirk are you suggesting that this would help https://github.com/aurelia/router/issues/201

If there were an option made available via the router that resolves the issues @RWOverdijk describes it'd be nice to be able to use it.

[2016-03-15 15:51] doktordirk commented on #52
yes

[2016-03-15 15:56] empz commented on #51
Oh, ok. I'm confused then. I thought it was for the client-side flow since Aurelia is a client-side framework. Isn't the server-side flow supposed to be run in the server? How does this repo does this within Aurelia?

Anyway, I'm rewriting an ASP.NET MVC application in ASP.NET 5 with Aurelia. Currently the application uses the server-side flow to authenticate with Yammer (making HTTP requests in .

[2016-03-15 16:19] doktordirk commented on #51
http://localhost:9000/#/welcome/#access_token=5 seems to work. maybe just need the right redirect url

[2016-03-16 09:43] doktordirk opened #54 "add migration guide from vanBlandel auth"
related to https://github.com/SpoonX/aurelia-auth/issues/53

[2016-03-16 10:46] AdamWillden commented on #53
@doktordirk @RWOverdijk I have updated the original post. Let me know if you have any comments, if there is anything to add, or if you'd prefer I removed anything.

Conversely if you think this is worded okay and it contains all the required facts I will create a PR to this effect in due course.

[2016-03-16 11:01] doktordirk commented on #53
dunno about that last two.
 while probably right, the first implies vanblandel doesn't. true or not, dunno if it is on us to say. i could live with just 'strict'.
the second should be a given
@RWOverdijk i guess, one could add 'company support' or 'actively used by spoonx company ensures whatever code quality/long term commitment   or something

[2016-03-16 13:24] RWOverdijk commented on #54
Should be relatively easy... But... Don't we work ootb?

[2016-03-16 13:27] RWOverdijk commented on #53
@AdamWillden Nice suggestion!

@doktordirk  Agreed. I'd use "strict", too.

And yes, we can add that this is being used in production and has long-term support. It's now being used in three of our products, as well as two at the company I work at. It's here to stay :)

[2016-03-16 13:27] #2 closed

[2016-03-21 13:12] AdamWillden commented on #53
So do you mean to change the first line to:
- Strictly maintained and developed (by multiple developers)

Is it fair to say the these repositories are "commercially supported" then or do you just want "company support" as stated. I'm not sure if there's a subtle difference in meaning there but "commercially supported" is the usual buzzword.

Is this post still desired following the name change fro

[2016-03-21 13:34] RWOverdijk commented on #53
@AdamWillden This is the line he meant. "stricter" sounds like we're pointing fingers to Paul (feels offensive):

Re "supported": That's a good question. I think "commercially supported" sounds fine. What do you think @doktordirk?

**Update**: Read over the auth / authentication question. Yeah, it has been renamed to avoid confusion and not get left behind in the search results. Things are changin

[2016-03-21 13:54] doktordirk commented on #53
commercially supported = paid support available. if the 'how it differ' is skipped, then just

Public SpoonX repositories are open to the community and actively maintained and used by the SpoonX company. They follow a strict deploy cycle with reviews and follow semantic versioning. This ensures code quality control and long term commitment.

[2016-03-23 15:25] oising opened #59 "Azure Active Directory / ADAL.js"
Given that Satellizer didn't support Azure AD, does your library inherit this limitation?

https://github.com/sahat/satellizer/issues/433
https://github.com/sahat/satellizer/issues/453

[2016-03-23 15:43] doktordirk commented on #59
underlying is still sahat/satellizer. so i guess so

[2016-03-23 20:26] doktordirk opened #60 "auth vs settings.auth"
i don't like that auth is added to the route instead of config.auth as i think it's supposed  to be. breaking change, i know, but i'd still like it changed. could support both for some time

[2016-03-24 09:11] RWOverdijk commented on #60
What do you mean?

[2016-03-24 09:16] doktordirk commented on #60
turns out i meant settings(.auth)

http://aurelia.io/docs.html#/aurelia/router/1.0.0-beta.1.1.3/doc/api/interface/RouteConfig

[2016-03-24 09:16] RWOverdijk commented on #59
Hello @oising

I've glanced at the requirements for such an implementation, and can say that we're not likely to implement it any time soon. I did find this beauty for you: https://azure.microsoft.com/en-us/documentation/articles/active-directory-devquickstarts-angular/

It's for angular, sure, but could offer some help. If you want to take it on (if possible), we'd gladly accept PRs. We can also

[2016-03-24 09:16] #59 closed

[2016-03-24 09:28] doktordirk commented on #60
closed as both authFilter and authPipelinestep are already optional. further tweaks can be implemented in permissions

[2016-03-24 09:28] #60 closed

[2016-03-24 15:41] oising commented on #59
@RWOverdijk Thanks -- btw, I couldn't find any decent explanations here why you forked aurelia-auth -- what's different, really?

EDIT: never mind, I see https://github.com/SpoonX/aurelia-authentication/issues/53 mentions it

[2016-03-24 15:52] RWOverdijk commented on #53
@doktordirk :+1: you're a freakin poet.

[2016-03-24 15:53] RWOverdijk commented on #59
@oising Glad you helped yourself :) :beers:

[2016-03-24 15:57] doktordirk commented on #53
@AdamWillden perfect now, just as tds -> d.ts typo.
let's get it in then

[2016-03-26 19:59] doktordirk opened #65 "add install test"
basics are simple. just delete the config map entry before travis jspm install

[2016-03-27 02:34] alfkonee commented on #1
Added the response Interceptor Feature to the #31 @RWOverdijk @doktordirk I think this makes it Ok for an initial release of this feature please review the PR

[2016-03-27 08:29] doktordirk commented on #65
that wouldn't help against a mistake like https://github.com/SpoonX/aurelia-authentication/commit/1b288214359140c882124ceb9927d335d62406d7 . need to think of something else. the original issue made here https://github.com/SpoonX/aurelia-authentication/commit/7de0aa23843e87c2fa639abae22cb161c3f705c6 when setting npm default might not be able to test again anways

[2016-03-27 09:26] doktordirk commented on #65
thinking about it, unit tests would have picked up my error. so, we just need all those

[2016-03-27 09:26] #65 closed

[2016-03-27 09:32] doktordirk opened #66 "add all unit tests"

[2016-03-27 12:02] alfkonee commented on #54
I wanted to ask if this still plans to merge it's awesome new features into vanblandel's repo or has it diverged too much to be merged

[2016-03-27 13:07] doktordirk commented on #54
dunno. also might has it's own version already. anyways, if you wanna do it, go ahead of course

[2016-03-29 11:31] doktordirk opened #73 "make npm only ready"
add dependency entries as there are for jspm

[2016-03-31 07:27] doktordirk commented on #73
and webpack https://github.com/aurelia/webpack-plugin#configuration-options

[2016-03-31 08:55] doktordirk opened #76 "interceptor test in app.fetch-httpClient.config.spec.js not working"
toString makes everything just to {} or so.

[2016-03-31 09:43] doktordirk commented on #73
fixed wih https://github.com/SpoonX/aurelia-authentication/pull/77

[2016-03-31 14:44] RWOverdijk commented on #53
Can we get this in? Or is it already in and did I miss it?

[2016-03-31 14:45] doktordirk commented on #53
still not in

[2016-03-31 14:46] RWOverdijk commented on #53
@AdamWillden Can we get this in pleeeaaase?

![](http://thehoopla.wpengine.netdna-cdn.com/wp-content/uploads/2012/10/cute-cat-1.jpg)

[2016-03-31 15:59] #73 closed

[2016-03-31 16:03] doktordirk commented on #54
do we wanna have one or is the readme addition enough?

[2016-03-31 16:13] RWOverdijk commented on #54
@doktordirk There's not really a migration guide. It just works. But I do think it's a good idea to write one that "optimizes" the usage :+1:

[2016-03-31 16:13] doktordirk commented on #54
then feel freee :smile:

[2016-03-31 18:51] AdamWillden commented on #53
I have a customer demo tomorrow morning and have been working through lunches. I'll do it immediately following the demo tomorrow I promise! ~11am GMT

[2016-04-01 03:14] alfkonee opened #81 "jspm install aurelia-authentication Fails"
when installing aurelia-authentication from jspm it fails with this log
[code]

[2016-04-01 05:58] doktordirk commented on #81
right, but weird. can't see any problem

[2016-04-01 06:06] doktordirk commented on #81
found it. will be fixed with https://github.com/SpoonX/aurelia-authentication/issues/73

[2016-04-01 06:07] doktordirk commented on #81
meanwhile install from github. that'll work still

[2016-04-01 07:59] RWOverdijk commented on #53
Yaaaaay, the cute kitty worked!

[2016-04-01 11:04] AdamWillden commented on #44
This needs opening again. Was broken by #61

[2016-04-01 11:18] RWOverdijk commented on #44
@AdamWillden Na, fixed it again in #75

[2016-04-01 11:20] RWOverdijk opened #84 "Break apart readme"
The readme is waaaaay way too long. For a module of this size, I think it's best to break it up into smaller documents. I have two suggestions:

1. Put it in separate markdown files in the `doc/` dir
2. Put it in the wiki (which can also be managed through version control)

My preference is option 2, because the wiki is a decent place to put this.

[2016-04-01 11:23] AdamWillden commented on #44
Ah okay good!

[2016-04-01 11:25] doktordirk commented on #84
let's wiki then

[2016-04-01 11:36] AdamWillden commented on #53
Fixed by #83

[2016-04-01 11:44] #53 closed

[2016-04-01 19:34] RWOverdijk commented on #84
I think I'll write a book for this repo, too (like orm). Agree?

[2016-04-01 19:35] doktordirk commented on #84
notification is minor, but yeah, all other three deserve one

[2016-04-01 19:44] AdamWillden opened #87 "Change how Access/Refresh token nesting works"
Following #93 I wonder if we could change something else. The whole token nesting by using `Prop => Root => Name` is **more** than a bit sucky. Without reading the comments the options are unclear and the names don't flow Root isn't the root.

Anyone have a better solution? I considered a single property that represents the path `some.pathTo.theToken` but I'm not sure how easy that is to unwrap or

[2016-04-01 20:30] AdamWillden commented on #87
I'm okay with closing this. Just a thought I'd share

[2016-04-03 08:51] doktordirk commented on #87
what why. i think it's a good idea

[2016-04-03 08:53] doktordirk opened #94 "compare with paul and sahat"
we should have a look at those again for issues and ideas

[2016-04-03 09:33] AdamWillden commented on #87
Any ideas for implementation? The simplest way is just to split the string using dots.

http://stackoverflow.com/questions/6491463/accessing-nested-javascript-objects-with-string-key

http://stackoverflow.com/questions/8817394/javascript-get-deep-value-from-object-by-passing-path-to-it-as-string

Someone crazy **could** choose to use a dot within a property name which would screw up the pathing. H

[2016-04-03 09:40] doktordirk commented on #87
i opt for dots

[2016-04-03 10:23] RWOverdijk commented on #87
I'm not entirely convinced about this approach. If you nest more than one level, you're doing something weird in your API. If that's the case, I'd like to hear complaints about it so they can explain what this is needed for. I'd prefer to cater for the 99%, and see why the other 1% is having problems with this.

That being said, I wouldn't refuse the PR.

[2016-04-03 14:12] doktordirk commented on #87
hmm. probably right. so basically just cut down the sample in the comments to no root and token direct child of root

[2016-04-03 16:59] AdamWillden commented on #87
@RWOverdijk this suggestion isn't to allow more nesting (even though technically I guess it could). I'm suggesting this because having 6 options (3 for access, 3 for refresh) seems overkill, the names are confusing and the order is quirky (`Prop`, `Prop => Name` or  `Prop => Root => Name`). I'd rather have 2 options (1 for access, 1 for refresh) and if there is any nesting then dot notation is use

[2016-04-03 17:47] RWOverdijk commented on #87
Dots, or a general "root" property (for all responses). I'm game yo

[2016-04-04 15:17] doktordirk opened #98 "build 2.1.0 broken"
@RWOverdijk

fix on build branch

have look at https://github.com/SpoonX/aurelia-authentication/commit/4cfe33b4bc9afb55c39ba9295f0c6da918559ca8

and if it's fine i recommend changing master to dev, build to master (+default) and releasing 2.1.1

[2016-04-04 15:18] #51 closed

[2016-04-04 15:24] doktordirk commented on #1
implement with https://github.com/SpoonX/aurelia-authentication/pull/31

[2016-04-04 15:24] #1 closed

[2016-04-04 15:25] #39 closed

[2016-04-04 15:28] #81 closed

[2016-04-04 15:32] doktordirk commented on #98
ps: tested in my sample

[2016-04-04 16:32] doktordirk commented on #98
on second though: i'd recommend just to revert the last PR

[2016-04-04 16:57] doktordirk commented on #98
oh man i'm stupid. that's just what i do on this branch.

[2016-04-04 17:41] doktordirk opened #99 "consider using aurelia-path"
some parts of authUtils might be replacable with aurelia-oath
http://aurelia.io/docs.html#/aurelia/path/1.0.0-beta.1.1.1/doc/api/overview

[2016-04-04 17:50] doktordirk commented on #99
or https://github.com/aurelia/route-recognizer

[2016-04-04 18:44] doktordirk commented on #98
i obviously didn't manage to hold be back, and github published the fix on this branch

[2016-04-05 06:02] doktordirk commented on #94
comparing with paul, might not help much as he mainly incooperates our changes in his version.

[2016-04-05 10:20] RWOverdijk commented on #98
@doktordirk After arguing with yourself for a bit, what's the verdict? :p

[2016-04-05 10:36] doktordirk commented on #98
hehe. ähm. well, the 'build' branch is the last published on github now. hence, i recommend switching branches

[2016-04-08 14:56] doktordirk commented on #98
fix https://github.com/SpoonX/aurelia-authentication/commit/4cfe33b4bc9afb55c39ba9295f0c6da918559ca8 and in https://github.com/SpoonX/aurelia-authentication/pull/100

[2016-04-08 14:56] #98 closed

[2016-04-08 14:56] doktordirk commented on #94
done it myself. wasn't much to find

[2016-04-08 14:56] #94 closed

[2016-04-08 15:13] doktordirk commented on #87
i copied over the dot version from sattelizer. implemented here https://github.com/SpoonX/aurelia-authentication/pull/100

[2016-04-08 15:13] #87 closed

[2016-04-08 15:14] doktordirk commented on #66
basically done https://github.com/SpoonX/aurelia-authentication/pull/100

[2016-04-08 15:14] #66 closed

[2016-04-08 15:15] doktordirk commented on #99
done https://github.com/SpoonX/aurelia-authentication/pull/100

[2016-04-08 15:15] #99 closed

[2016-04-08 15:15] doktordirk commented on #76
done https://github.com/SpoonX/aurelia-authentication/pull/100

[2016-04-08 15:15] #76 closed

[2016-04-10 19:25] doktordirk opened #104 "add @authenticated() decorator"
if that's possible. i'll have a try on it

[2016-04-10 19:28] doktordirk opened #105 "use aurelia logger"
with all those deprecated messages it becomes really neccessary

[2016-04-10 19:31] doktordirk commented on #54
done

[2016-04-10 19:31] #54 closed

[2016-04-10 19:32] doktordirk commented on #84
done

[2016-04-10 19:32] #84 closed

[2016-04-12 17:09] doktordirk commented on #104
have other things to do

[2016-04-13 08:22] RWOverdijk commented on #104
What would this decorator do?

[2016-04-13 08:22] RWOverdijk commented on #105
Are there docs on it?

[2016-04-13 08:25] doktordirk commented on #105
dunno. i just look at code and aurelia-api docs

[2016-04-13 08:26] doktordirk commented on #104
prevents execution of the methods if not authorized

[2016-04-13 09:21] doktordirk opened #106 "add logoutUrl"
send logout to server for those who want that. easy to do and no harm done

[2016-04-13 09:22] doktordirk opened #107 "alternative isExpired"
add a convenient way to have users provide their own

[2016-04-13 10:00] doktordirk commented on #104
ps: agreed on should throw Error. if fail silently can be an option is left open for now

[2016-04-13 12:17] doktordirk commented on #105
implemented in https://github.com/SpoonX/aurelia-authentication/pull/103/commits/49fe1e0f2bf145e045cfba168750ded70f35e573

[2016-04-13 12:17] #105 closed

[2016-04-13 15:04] doktordirk opened #108 "use RedirectToRoute for named routes"
so RedirectToRoute('login) instead of Redirect('#/login)

[2016-04-13 21:26] meash-nrel opened #109 "legacy references still"
Across spoonx libraries you have changed lib references from github:/spoonx/* to just npm:*

There are still references in /dist/* sources to 'spoonx/aurelia-api' in this project so it's still loading that old reference as a dependency.

[2016-04-14 06:39] doktordirk commented on #104
had a try, but didn't get past Container.instance
https://github.com/doktordirk/aurelia-authentication/commit/58874d0da175f039be446f5d96de90f2c6468c27

[2016-04-14 07:38] RWOverdijk commented on #108
I thought this was already possible. Guess I was mistaken.

[2016-04-14 07:40] RWOverdijk commented on #109
@meash-nrel That _should_ only be on the branch, and there shouldn't be a tag for it yet. If there is, it's our fault and it'll have to be fixed.

[2016-04-14 07:45] doktordirk commented on #104
RWOverdijk
Mhm I think I get it
It sounded like a cool feature, but come to think of it it's quite useless
You can easily add a conditional

doktordirk @doktordirk 09:26
yup.
though:
- no need to inject authService.
- easy to spot restricted methods
- might play well with permissions

Wesley Overdijk @RWOverdijk 09:40
It might
Mhm something to keep in the issues for now
Just as a reminder

[2016-04-14 07:49] doktordirk commented on #109
@RWOverdijk dist= new build and we didn't make a new build on master for some time

[2016-04-14 07:50] AdamWillden commented on #109
To be extra clear. dist is only updated once there is a release

[2016-04-14 07:50] AdamWillden commented on #109
Ahh @doktordirk  beat me

[2016-04-14 07:50] RWOverdijk commented on #109
It has to be extremely clear now haha

[2016-04-15 17:54] MarcScheib opened #111 "GitHub installation with SpoonX aurelia-api breaks tests"
Hi guys,

installing aurelia-authentication and aurelia-api breaks my tests (not my app). I think this is somehow related to the dependencies. I have the following in package.json:

[code]

This generates a config.js with three entries:

[code]

My jspm_packages only has a SpoonX directory. Karma gives me the following error:

[code]

Any advice? NPM install of auth is not possible at the moment b

[2016-04-15 18:15] doktordirk commented on #111
use lower case only for now. but will change very soon to npm anyways

[2016-04-15 18:16] doktordirk commented on #111
meaning
jspm uninstall aurelia-api
jspm i github:spoonx/aurelia-api

[2016-04-15 18:26] #109 closed

[2016-04-17 11:03] MarcScheib commented on #111
It seems to be this is not possible. It simply removes to uppercased version but does not install the lowercase.

I tried installing both lowercased which results in the following:
This breaks both, app and tests.

App says: `system.src.js:4597 GET http://localhost:9000/dist/spoonx/aurelia-api.js 404 (Not Found)`
Tests say: `404: /base/jspm_packages/github/SpoonX/aurelia-authentication@2.1.1/aurel

[2016-04-17 11:13] MarcScheib commented on #111
I could make it work locally by adjusting aurelia-authentication@2.1.1.js when both is installed lowercase:

From

[code]

to

[code]

TravisCI has no problem with running the tests, it is only locally (cause I am using Win).

[2016-04-17 11:13] #111 closed

[2016-04-17 22:54] msalman86 opened #113 "redirect_uri for LinkedIn need to be encoded"
Hey guys,

So LinkedIn fails to authorize if `redirect_uri` value is not encoded. I am getting around it by overriding `redirectUri` property in the configuration file.  For example
[code]

You guys may want to support it by default

[2016-04-18 03:08] sethom opened #114 "aurelia-authentication-samples???"
In the Quick Start (http://aurelia-authentication.spoonx.org/Quick%20start.html) in the "Provide a UI for a logon, Signup and Profile" section it states  "See aurelia-authentication-samples for more details."

Where's aurelia-authentication-samples located? Is there a working sample application to download?

[2016-04-18 08:09] RWOverdijk commented on #113
@msalman86 Excellent suggestion. I actually think this should be default behavior, seeing how it's a query string argument. Mind opening up a PR for this?

[2016-04-18 08:11] RWOverdijk commented on #114
@sethom Nice catch.

I believe you can find an example here: https://github.com/doktordirk/aurelia-authentication-loopback-sample @doktordirk made it

[2016-04-18 13:33] sethom commented on #114
Thanks RWOverdijk..   That's a big help.

Btw, is it possible to use aurelia-authentication with Asp.net WebApi just as easily as with Loopback? Are there some differences I need to keep in mind? I haven't found any discussions about aurelia-authentication or aurelia-auth in relation to Asp.net WebApi yet.

[2016-04-18 13:44] doktordirk commented on #114
since auth/authentication is the same as satellizer for angular maybe look for Asp.net WebAp+ angular (or +satellizer)

[2016-04-18 13:56] sethom commented on #114
Oh yeah. It looks like Satellizer started supporting Asp.net webapi as May last year: https://github.com/sahat/satellizer/issues/219

[2016-04-19 14:00] 0xSalman commented on #113
Sure, will do

[2016-04-19 18:06] iBeliever opened #116 "npm install for webpack fails"
I have a webpack-based aurelia project. I installed aurelia-authentication using `npm i aurelia-authentication`.

WebPack (via `npm run dev`) complains about not being able to find `spoonx/aurelia-api`:

    ERROR in ./~/aurelia-authentication/dist/commonjs/aurelia-authentication.js
    Module not found: Error: Cannot resolve module 'spoonx/aurelia-api' in /Users/mspencer/Developer/Lelander/skills

[2016-04-19 18:26] doktordirk commented on #116
we are just about to release a webpack supported version.

meanwhile you can try:

npm i github:spoonx/aurelia-api#dev
npm i github:spoonx/aurelia-authentication#dev

[2016-04-19 19:48] iBelieve commented on #116
Thanks for the quick response!

The first command works, but unfortunately the second fails:

[code]

[2016-04-19 21:01] doktordirk commented on #116
hmm. worked for me. copied again from console:

npm i github:spoonx/aurelia-authentication#dev --save

but i found another problem anyways (with the ./authfilter)

ps forgot to add the --save
pps: or try to add to package.json dependencies sectioin:

"aurelia-api": "github:spoonx/aurelia-api#dev",
"aurelia-authentication": "github:spoonx/aurelia-authentication#dev",

but probably fill fails with t

[2016-04-19 21:23] doktordirk commented on #116
seems it can be solved by making  authFilter an optional global resource

https://github.com/aurelia-ui-toolkits/aurelia-kendoui-bridge/issues/428 has info for that

or better:
https://gist.github.com/valichek/5dc7c1e11ed39a82df83913df465cb50

[2016-04-19 22:02] doktordirk commented on #116
sortof working version. might be as good as it gets:

https://github.com/doktordirk/aurelia-authentication-loopback-sample/tree/master/client-wp

[2016-04-21 09:38] doktordirk opened #119 "simplify BaseConfig.providers"
so much repetition

[2016-04-21 10:38] doktordirk opened #120 "add setToken or setResponseObject"
to manually set tokens

[2016-04-21 11:38] doktordirk commented on #116
updated my sample. to be considered solved

[2016-04-21 11:38] #116 closed

[2016-04-21 17:41] doktordirk opened #121 "computedFrom for isAuthenticated"
currently dirty checked. that'd better change

[2016-04-21 17:51] doktordirk commented on #121
on that issue: consider setTimeout()

[2016-04-21 18:08] doktordirk opened #122 "improve typings"
add 'fake' typings like aurelia

[2016-04-21 22:09] iBelieve commented on #116
Thanks! Everything seems to be working correctly now.

[2016-04-25 21:32] #113 closed

[2016-04-26 18:27] shaunluttin opened #123 "What differentiates this fork from the original aurelia-auth?"

[2016-04-26 18:33] shaunluttin commented on #123
The answer is here: http://aurelia-authentication.spoonx.org/

[2016-04-26 18:33] #123 closed

[2016-04-26 20:58] shaunluttin opened #124 "Installing with JSPM throws errors."
[code]

[2016-04-26 22:05] doktordirk commented on #124
yeah, sorry. that's from the very soon to come install instructions.

meanwhile use

jspm i github:spoonx/aurelia-api
jspm i github:spoonx/aurelia-authentication

or for sneak peak of the comming

jspm i aurelia-api=github:spoonx/aurelia-api@dev
jspm i aurelia-authentication=github:spoonx/aurelia-authentication@dev

[2016-04-26 22:27] shaunluttin commented on #124
Thank you.

[2016-05-03 11:49] doktordirk commented on #122
use new dts builder or run its code manually

[2016-05-03 11:51] doktordirk commented on #124
@shaunluttin
you can use `jspm i aurelia-api aurelia-authentication` now to install prefixless 3.0.0-rc1

[2016-05-03 11:51] #124 closed

[2016-05-03 12:59] doktordirk commented on #119
it's better to be able to copy over settings from sahat/satellizer. hence the format shouldn't be changed

[2016-05-03 12:59] #119 closed

[2016-05-12 13:33] RWOverdijk opened #134 "Optional link with orm"
Perhaps allow authentication to be linked up with ORM?

.getMe() could return a User entity (for instance).

[2016-05-12 13:36] AdamWillden commented on #134
I haven't used ORM but that certainly sounds like a sensible option to run with!

[2016-05-20 13:22] doktordirk commented on #106
done https://github.com/SpoonX/aurelia-authentication/pull/139

[2016-05-20 13:22] #106 closed

[2016-05-20 13:26] doktordirk commented on #122
done https://github.com/SpoonX/aurelia-authentication/pull/132

[2016-05-20 13:26] #122 closed

[2016-05-22 16:50] apawsey opened #141 "Add a separate url for refresh token"
It would be a lot easier to handle on the server side if there was an optional separate url route for the refresh token request.

[2016-05-24 13:50] apawsey opened #143 "Suggestion: support dotted notation for accessTokenProp (and refreshtoken)"
Just to make the config slightly easier, allow the accessTokenProp to be specified as (examples):

- 'accessToken' (on root)
- 'tokenResponse.accessToken' (in sub-object)
- 'tokenResponse.access.tokenValue' (and so on...)

Just a suggestion :)

[2016-05-24 22:42] apawsey opened #144 "Feature Request: Redirect to original page after successful login"
So the gist here is if I click a link, and it turns out for whatever reason I'm not/no longer authenticated, I get redirected to the login... fine. But when I login, I get redirected back to home or wherever that is statically configured in my authentication settings.  It would be good if we could support redirecting back to the original page I wanted to reach.

I actually wanted to submit a PR fo

[2016-05-25 07:29] doktordirk commented on #144
that's definitely a missing feature. so a PR would be great
http://aurelia.io/docs.html#/aurelia/router/1.0.0-beta.1.2.2/doc/api/class/NavigationInstruction
i guess, one gets the route from the routingContext, calls new Redirect(loginRoute+&oldRoute) which is use in authService.login or so

[2016-05-25 07:30] RWOverdijk commented on #144
👍

[2016-05-25 07:31] #141 closed

[2016-05-25 09:42] apawsey commented on #144
Yeah I looked at the documentation, and yes that's basically the approach I took.  Take the intended route, encode it as a querystring parameter, and move on to login.  Then login if it sees that querystring, redirects back to that, instead of the default route.

As I said though, I don't understand how or why there can be multiple instructions within the context.  From the docs:
getAllInstruction

[2016-05-25 09:59] doktordirk commented on #144
it's the route to the view like /user/private. so the main route user might have the auth flag, or the child route private might have the auth flag. hence each part of the route needs to be checked.

however, it's not much of your concern as you just can take routingContext.fragment + '?' + routingContext.queryString

[2016-05-25 22:54] apawsey commented on #144
guys, not sure if I'm being stupid, but looking for any key build instructions, tests, etc?  Just want to make sure I follow the correct path for submitting the PR.

[2016-05-26 06:52] doktordirk commented on #144
There is the contributing.md. Otherwise I usually just follow what others hAve been doing. But don't worry too much. As for proper, i dont know how to in this case as Karma complains after the full page reload after login anyways

[2016-05-26 07:38] RWOverdijk commented on #144
@apawsey Not stupid at all! Asking questions is good :) Like @doktordirk pointed out you could take a look at our [contributing guide (link)](https://github.com/SpoonX/about/blob/master/CONTRIBUTING.md). For other questions I'd like to point you to our [gitter channel (link)](https://gitter.im/SpoonX/Dev). I hope this helps you help us :)

[2016-05-26 07:47] apawsey commented on #144
No I've read then contributing guide etc, and I get the commit messages, that stuff.  I was looking for build instructions, like "We use JSPM" or "We hate jspm and will instantly ban you from contributing if you type those letters into your console" :)  Will jump on Gitter though, good point.

[2016-05-26 22:51] nexbit opened #146 "Feature Request: add support for auth0-lock authentication"
Hi
I just implemented auth0-lock integration in my fork, to use in my latest app. This is the commit:
https://github.com/nexbit/aurelia-authentication/commit/17ed43a99ac4b514c2e6a024190cb38f35f8d147

It is a bit rough, and I don't know how to implement proper testing for this, but at least it works..

Key points:
- It predates the **oauthType** config property, checking if it is equal to *auth0-lo

[2016-05-27 06:33] doktordirk commented on #146
Re type: i only changed it to quickly copy changes from sahat. But you have a point with using type

[2016-05-27 07:38] pfurini commented on #146
Ok.. maybe we can introduce a new externalProvider config property,
and let the oauthType to be used only for existing oauth providers.

The externalProvider property should accept a string that is the name
used to register the provider class with the aurelia default DI
container. For example my auth0Lock provider could be moved to an
external plugin that simply register the class with the DI cont

[2016-05-27 08:08] doktordirk commented on #146
generally having better IoC there would have been nice indeed. for now, i think it's fine as you did it i think. mind throwing together a 'proper' PR? would be a great addition imho

[2016-05-27 08:31] pfurini commented on #146
What about testing? The PR would completely miss them if I open it now.. I don't know if the auth0 guys have some service mock ready to use, but now I don't have enough time to find or implement it in testing code.

[2016-05-27 08:49] doktordirk commented on #146
alas we don't test the actual services right now anyways. so i guess just copy the oath2 test and adapt it to your needs

[2016-05-27 16:38] doktordirk commented on #107
consider using interceptor

[2016-05-30 06:43] doktordirk opened #154 "recheck ie9 atob"
And compare with jwt.decode libs

[2016-05-30 20:28] doktordirk opened #155 "add authService.getExp"

[2016-05-31 07:24] doktordirk commented on #143
@apawsey happy with that https://github.com/SpoonX/aurelia-authentication/issues/148 ?

[2016-05-31 08:04] nexbit opened #156 "Feature Request: rename `AuthorizeStep` to `AuthenticateStep`"
The `AuthorizeStep` class does check for *authentication* status and has nothing to do with authorization. Thus the name `AuthenticateStep` is more aligned with its scope.

But the main reason for renaming is to let a future authorisation plugin use the `AuthorizeStep` name for its pipeline step class.

[2016-05-31 08:35] doktordirk commented on #156
i agree. we can keep a (deprecated) AuthorizeStep without conflict (mostly).

on a general note: we wanna stay like 100% BC to vanBlandels for the time being for ease of switching over

[2016-05-31 08:39] pfurini commented on #156
Ok for BC.. But then I should call my step `RealAuthorizeStep`?? 😲

[2016-05-31 08:40] doktordirk opened #157 "allow custom storage"
consider adding a setStorage to configuration to set a localStorage api compliant custom storage for storage.js

[2016-05-31 09:03] doktordirk commented on #156
unless one/you imports {AuthorizeStep}  from 'authelia-authentication'... there's no conflict and in that case one could use import {AuthorizeStep as OldAuthorizeStep] from 'authelia-authentication'.
(resp import {AuthorizeStep as RealAuthorizeStep} from 'aurelia-acl';)

[2016-05-31 09:33] pfurini commented on #156
Well that will be common case, unfortunately, cause one will add first
an authentication step and then an authorization one..
So we will end up with aliasing by default, something like

import {AuthorizeStep as AuthenticateStep] from 'authelia-authentication';
import {AuthorizeStep] from 'authelia-whateverwenamedit';

but we deal with compromises every day, so that's fine if properly
documented

d

[2016-05-31 09:37] pfurini commented on #156
Discard my last comment.. we said you'll add a new AuthenticationStep class anyway, so what I said is garbage 😖

[2016-05-31 09:47] doktordirk commented on #156
hehe, i started to get lost. perfect then

[2016-06-01 10:08] #143 closed

[2016-06-01 10:20] #156 closed

[2016-06-02 10:06] pfurini commented on #146
Resolved by https://github.com/SpoonX/aurelia-authentication/commit/f8aeef58108708707ffda06cd6c2ce78707adfd2

[2016-06-02 10:06] #146 closed

[2016-06-02 18:54] #154 closed

[2016-06-02 18:54] #155 closed

[2016-06-02 18:55] #121 closed

[2016-06-02 18:55] #120 closed

[2016-06-02 18:55] #107 closed

[2016-06-03 18:36] icanhasjonas opened #173 "Seems the facebook auth popup doesn't close when auth completes"
Affects `3.0.0-rc3` and works as expected in `3.0.0-rc2`

[2016-06-03 18:39] icanhasjonas commented on #173
After facebook auth the popup remains open and redirected to `http://localhost:3000/_=_?code=<oauth code>`

Nothing special in my configuration I spuspect:

[code]

[2016-06-03 18:55] doktordirk commented on #173
i know. facebook changed that. PR is on the way

[2016-06-03 19:02] doktordirk commented on #173
@icanhasjonas i made a dev build with a fix. not 100% if it works for you. hope so. you can try with
`jspm i aurelia-authentication=github:spoonx/aurelia-authentication@dev`
will need aurelia-api@rc3

[2016-06-04 08:16] #173 closed

[2016-06-04 09:55] doktordirk opened #178 "add tests for value converters"

[2016-06-04 11:40] doktordirk opened #180 "new value converter working?"
i need to test those more. might consider removing those again for now

[2016-06-04 11:43] doktordirk commented on #180
both new one would need signaling to update. similar to local change signaling i've seen somewhere

[2016-06-06 14:04] cb-fred opened #185 "IE9/IE10 crash in AuthService.js"
Hi,

We've encountered an issue in IE<=10 with Aurelia-Authentication (version 1.1.2), Working fine with Edge, and we've included all the necessary polyfills: fetch.js, bluebird.js, etc...

In line 31 of AuthService.js, config is undefined:

    this.auth = auth;
    this.oAuth1 = oAuth1;
    this.oAuth2 = oAuth2;
    this.config = config.current;   // config is undefined.
    this.client = this.c

[2016-06-07 06:11] doktordirk commented on #185
in that version current is a getter. if you can try to use t eobject directly aka `this.config = config._current`

[2016-06-09 10:12] cb-fred commented on #185
Well, the problem is that `config` is undefined. `config.current` is trying to access a field from an `undefined` reference, thus the crash.

[2016-06-09 10:13] doktordirk commented on #185
hang on a little, i think it'll be fixed in the next version.

[2016-06-09 10:45] doktordirk commented on #185
you need to inject all again when extending i'm sure

@inject(Endpoint.of('codabox-api'), Authentication, OAuth1, OAuth2, BaseConfig);

[2016-06-09 11:00] doktordirk commented on #185
class Foo extends Bar {
  constructor () {
    super()
    Bar.call(this)
  }
}
Note that this calls the parent constructor twice in other browsers, so make sure your parent constructor does nothing too complex (which it shouldn't anyway)

[2016-06-09 11:01] doktordirk commented on #185
or

I've actually just found something that fixed this problem for me. There's an option called loose for babel-plugin-transform-es2015-classes, that makes it work on IE <= 10. I don't know if on babel 5 this was turned on by default or if the code always worked on older browsers, but it seems like setting this option is what's required now, it all works perfectly as before.

You basically just ne

[2016-06-09 11:31] cb-fred commented on #185
Ok, thanks for your investigation, I will try this and confirm that it works on my side.

[2016-06-09 22:33] cb-fred commented on #185
Hi, thanks for looking it up, but I can't get it to work. It builds all-right, but it's still not working in IE.
I'm not sure I am doing things right as I am not familiar with either aurelia nor babel. Maybe you can
point me at some mistake ?

Here's my `build/babel-options.js`

[code]

And I installed the following npm packages:

[code]

[2016-06-10 07:51] doktordirk commented on #185
without the loose it seems to work for me

[code]

[2016-06-10 08:15] k2s opened #189 "how to correctly bundle aurelia-authentication into project ?"
using now 3.0.0-rc4

to get it work I have to add to my projects `bundles.js` file:

[code]

whould expect that `aurelia-authentication` should be enough

[2016-06-10 08:18] RWOverdijk commented on #189
@doktordirk I don't have to add these three for my bundling. Didn't you fiddle with this?

[2016-06-10 08:22] k2s commented on #189
had to add it today after I updated to 3.0.0-rc4 with jspm

[2016-06-10 08:22] RWOverdijk commented on #189
Ah yeah, I think those are new then.

[2016-06-10 08:31] doktordirk commented on #189
didn't i remove
        "aurelia-authentication/authenticatedValueConverter.js",
        "aurelia-authentication/authenticatedFilterValueConverter.js",
since i could find use for those yet?

[2016-06-10 08:32] doktordirk commented on #189
and the first    "aurelia-authentication/authFilterValueConverter.js", should have been in. hmm

[2016-06-10 08:37] doktordirk commented on #189
hmm, something did get mixed while i made the PRs or while merging. it's a little inconsistent now, but no big deal

[2016-06-10 08:44] doktordirk commented on #189
ok, so 'authFilterValueConverter.js' should still be bundles 'automatically'. the other two are still there and made global if desired (default), but not bundled 'automatically'. i'd say, we just leave it as it is as it's perfectly BC

[2016-06-10 08:54] RWOverdijk commented on #189
@doktordirk The issue is with bundling. Perhaps they're being required somewhere anyway?

@k2s What's the issue for you exactly? Does it ask for those files, but it can't find them?

[2016-06-10 09:20] k2s commented on #189
in my minified bundle I see `this.globalValueConverters=["authFilterValueConverter","authenticatedFilterValueConverter","authenticatedValueConverter"]`

this has to be a reason why it is loaded in browser. I don't reference the modules in other places.

[2016-06-10 09:28] RWOverdijk commented on #189
So it defaults to all. @doktordirk In that case it's not BC and it does make sense that it breaks, right?

[2016-06-10 10:08] doktordirk commented on #189
@RWOverdijk right, the baseConfig defaults need fixing
@k2s add to your authConfig
globalValueConverters: ["authFilterValueConverter"],

[2016-06-10 10:39] k2s commented on #189
thank you for your help !

[2016-06-10 11:08] #189 closed

[2016-06-10 13:23] cb-fred commented on #185
Thanks !
This fixed the issue.
Unfortunately there were lots of other IE issues waiting behind ... but that's none of your concern :)

[2016-06-10 13:30] doktordirk commented on #185
oho good luck then

[2016-06-10 13:30] #185 closed

[2016-06-11 19:46] erikvullings opened #192 "Typo in aurelia-authentication.d.ts causing tsc error."
In [aurelia-authentication.d.ts](https://github.com/SpoonX/aurelia-authentication/blob/master/dist/system/aurelia-authentication.d.ts), line 444, current is defined again (as in line 438), causing `tsc` to throw a duplicate error when compiling. Please remove either one.

[2016-06-11 19:50] erikvullings opened #193 "What to do with: WARN [authentication] AuthorizeStep is deprecated. Use AuthenticationStep instead."
In the console, I see this warning: however, when I search the code, the only time I encounter AuthorizationStep is in the LogManager. So, what is the idea behind this? Am I missing something? Or can we expect an update and example of how to use AuthorizationStep? Thanks...

[2016-06-11 20:57] doktordirk commented on #192
oh

[2016-06-11 21:01] doktordirk commented on #193
you probably use AuthorizeStep in your app.ts as
   config.addPipelineStep('authorize', AuthorizeStep); // Add a route filter to the authorize extensibility point.

to avoid misunderstanding authorization with authentication, it was suggested we replace it with AuthenticateStep, so
config.addPipelineStep('authorize', AuthenticateStep); // aka only authenticated users are authorized to use some rou

[2016-06-11 21:08] doktordirk commented on #193
ps: the sample in quick-start http://aurelia-authentication.spoonx.org/Quick%20start.html got updated

[2016-06-11 21:23] doktordirk commented on #193
todo: add a what's new page

[2016-06-11 21:51] #192 closed

[2016-06-12 15:45] erikvullings commented on #193
Thanks! This solved it for me.

[2016-06-12 15:45] #193 closed

[2016-06-12 15:49] erikvullings opened #196 "Exporting/bundling aurelia-authentication issue"
I'm new to bundling, but I am using `aurelia-authentication` with the (latest version of the) skeleton-typescript. When I wish to include `aurelia-api`, I just need to add it to my `bundles.js` and everything works fine. However, adding `aurelia-authentication` isn't enough, and I get errors about missing files.

[code]

Just to clarify, unbundled, everything works fine, but after running `gulp ex

[2016-06-13 08:10] RWOverdijk commented on #144
To bump this: we use jspm and we support webpack. While developing, you'll probably want to use a linked clone locally. When making your commits, leave out the build (so no dist filed). Those are generated per-release using the gulp task `prepare-release`.

[2016-06-13 08:11] RWOverdijk commented on #196
@erikvullings I know that @doktordirk fixed this, partially. I don't think this is in a release yet. We'll be making a new release the coming days, sorry for the inconvenience.

[2016-06-13 08:17] doktordirk commented on #196
ps: aurelia typescript setting is changing, so not that straight forward to test there currently

[2016-06-13 08:29] doktordirk commented on #196
meanwhile on rc4, adding
`globalValueConverters: ['authFilterValueConverter'],`
to your authConfig and sticking to the 'old' authFilter should do the trick

[2016-06-15 15:58] erikvullings commented on #196
Hmm, that didn't do the trick for me.
When do you expect to have a final version finished?

[2016-06-15 16:05] doktordirk commented on #196
try rc5/master on github: `jspm i aurelia-authentication=github:spoonx/aurelia-authentication@master`
that one is hopefully the final

[2016-06-15 20:27] manyrootsofallevil opened #199 "Duplicate identifier 'current'."
I just tried to build my aurelia based project and I get the following error:

This seemed to start occurring after I did install of all the packages with jspm.

Had a perusal through the code on the repo and it seems that the issue was fixed a few days ago but not sure whether the jspm package hasn't been updated or something else is going on here

For the record, the baseConfig class does have t

[2016-06-16 06:57] doktordirk commented on #199
That.s fixed in the next Release. try rc5/master on github: jspm i aurelia-authentication=github:spoonx/aurelia-authentication@master

[2016-06-18 13:49] jeremy-holt opened #201 "Bug in aurelia-authentication.js configure() ?"
There seems to be a bug at function configure().

I think it should be `_aureliaPal.PLATFORM.global.location.origin`

[code]

[2016-06-18 14:57] doktordirk commented on #201
PLATFORM has location http://aurelia.io/docs.html#/aurelia/pal/1.0.0-beta.1.2.2/doc/api/interface/Platform

did you have any problems or did you review the code?

[2016-06-18 18:20] jeremy-holt commented on #201
Yes I had a problem...

I added the plugin and just followed the documentation for setting up configure. The code fails at `baseConfig.configure(authConfig)`

[code]

[2016-06-18 18:21] jeremy-holt commented on #201
I just looked at PLATFORM in the Chrome debugger - it has PLATFORM.global.location which is what led me to file the bug report.

This is using the latest version of skeleton-typescript downloaded this morning

[2016-06-18 19:13] doktordirk commented on #201
If have trouble myself with the new Aurelia updates. I fear it is better for us to wait till they have settled again

[2016-06-18 19:26] doktordirk commented on #201
What is the error message btw?

[2016-06-18 22:40] jeremy-holt commented on #201
I scrapped the code, but it was something like aureliaPal.PLATFORM.location.origin not a reference, where "location" does _not_ exist on PLATFORM. Like I said "location" is a property of PLATFORM.global (well according to the Chrome debugger).

Just put the initialization code into the skeleton-typescript `main.js`

I tell you - aurelia is getting almost as bad as angular 1.4xx. Every damn day som

[2016-06-19 12:28] doktordirk commented on #201
doesn't make sense still.
in: pal-browser/platfom.js
`location: window.location,`
something is wrong with you setup or the current skeleton. but as you said, with the current push towards aurelia-cli and a pre-release, it's all really messed up now

[2016-06-19 15:32] jeremy-holt commented on #201
<img width="1101" alt="sshot-1" src="https://cloud.githubusercontent.com/assets/2135027/16178253/4b353ce8-3619-11e6-8179-526ef6153454.png">

1) fresh install of skeleton-typscript
2) `main.ts`

[code]
1. PLATFORM does not have a `location` property!

Hey - please understand I'm not "having a go". I would really like to use aurelia-authentication - from what I gather it takes all the hard work away

[2016-06-19 16:32] doktordirk commented on #201
what i wanted to say is, that it is quite likely that the mess-up aurelia  updates and skeleton cause that error. maybe try my sample which is based on an older skeleton and play with that for a while until aurelia's current updates have settle a bit
https://github.com/doktordirk/aurelia-authentication-loopback-sample/tree/master/client-ts

ps: aurelia-pal was the first one that broke in the curre

[2016-06-19 17:19] jeremy-holt commented on #201
just out of curiousity is this the "approved" authentication app?

ok - will try the sample

[2016-06-19 18:27] doktordirk commented on #201
approved? what you mean? i guess the most official sample would be https://github.com/SpoonX/swan-example-client , but i prefer simple ones, and separate ones for each feature.

[2016-06-22 09:43] oteuan opened #203 "What is the proper way to use the plugin?"
Hi,

I am trying to have the plugin working with OpenIdConnectServer. I must be missing something in the configuration (and probably somewhere else) to set properly the way of doing the login POST to get the authService properly authenticated. It can be seen in the Authorisation.ts file the 2 login methods: login() and loginCustom(). Ideally I would like to use the 1st one but at this moment I am

[2016-06-22 09:46] RWOverdijk commented on #203
Could you perhaps post a snippet of the code (inline or in a gist) in stead of uploading a zip? Also, this kind of question is probably best to ask in our gitter channel :) https://gitter.im/SpoonX/Dev

[2016-06-22 19:22] oteuan commented on #203
Thanks Wesley, just done it in https://gist.github.com/oteuan :)

[2016-06-23 04:59] doktordirk commented on #203
which version of authentication and api you are using?

[2016-06-23 11:39] oteuan commented on #203
Hi,

I wasn't using aurelia-api at first as read it was not needed. After, I plugged it in (version 3.0.0-rc4) but as it did not work i reverted it back. I have updated my gist adding authConfigAureliaApi and the mainAureliaApi files I used at that time for aurelia-api.

Thanks!

[2016-06-23 12:11] doktordirk commented on #203
ähm, so is it solved?

[2016-06-24 09:22] oteuan commented on #203
hahaha
No, it is not. Let me explain myself a bit better. The process went like:
1. I used the aurelia-authentication plugin so I was using the original files I put in my gist calling the login() method in the authorisation.ts
2. As it didn't work, I read about aurelia-api and I applied it using the authConfigAureliaApi.ts and the mainAureliaApi.ts instead.
3. I still was getting a 401 Unauthorize

[2016-06-29 11:22] rquast commented on #1
Congrats on the new feature!

However, the use of refresh tokens with an SPA (explicit flow), is insecure. It's not only insecure on the client side, it's also insecure on the server side (the authorization code is returned as a query string and may get logged on the server too). Access tokens don't get logged because they're returned in a fragment (which doesn't get logged). All of this is explai

[2016-06-29 17:33] doktordirk commented on #1
i dont get it. what's about authorization codes? this is access tokens 10.3 and refresh tokens 10.4 here?!

[2016-06-29 22:02] rquast commented on #1
You're obtaining refresh tokens because you're using the explicit (authorization code) flow in oauth2.. you're not using implicit flow to get the refresh tokens (because you can't), and you're not obtaining the refresh tokens from a server that did the authorization_code dance with the authorization server.. because you're doing it on the client side with exchangeForToken(). https://github.com/Spo

[2016-06-29 22:14] rquast commented on #1
http://stackoverflow.com/questions/35575171/oauth-2-0-authorization-code-flow-using-javascript

http://security.stackexchange.com/questions/67343/secure-rest-api-and-single-page-app-by-using-external-oauth-2-authorization-code

Someone even wrote it in the code somewhere as a comment..

https://github.com/SpoonX/aurelia-authentication/blob/78ec6dd8e4621de76f694d676f73de07f3483faf/src/auth0Lock.js#

[2016-06-30 08:40] doktordirk commented on #1
read write a bit an i'm still lost. let's ignore the auth0 for a sec, as that works different.
so, one common scenario is:
- client: us. has access token for web api and refresh token for authorization server
- user-agent: browser. gets xy from identity server and redirects it to authoritization provider to get it verified and exchanged for access token+refresh token
- identity/authentication prov

[2016-06-30 12:23] rquast commented on #1
Okay, I'll ask a simple question then..

Of the 4 different types of OAuth2 flows, what one are you using to get the refresh tokens?

https://tools.ietf.org/html/rfc6749#section-1.3

Which one?

[2016-06-30 13:35] doktordirk commented on #1
- authorization code for eg facebook.  the identitiy provider's secret is only on the server and the client never sees the facebook token as that's handled by the server
- or user credentials if authenticating with the server directly

again, i don't know if' that's true also for the Auth0Lock version

[2016-06-30 21:42] rquast commented on #1
So if you use authorization code flow, facebook send you back an authorization code, and you send that code back to them to get a token... right? Aurelia auth is the thing that's sending the code back to facebook via the web browser. That's potentially insecure (for the reasons I mentioned earlier) because it's not a _web server_ that's receiving and sending the code back to facebook.

![](http://

[2016-06-30 22:31] rquast commented on #1
http://stackoverflow.com/a/25201443 - "The Authorization-Code-Flow allows for the final auth-token to never reach and never be stored on the machine with the browser/app."

Authorization Code Flow is a server to server flow. It's *not* a server to browser flow.. that's what Implicit Flow is.

[2016-06-30 22:42] rquast commented on #1
![](http://oauth2.thephpleague.com/images/grants.svg)
That's how you make the decision on what flow to use. Authorization Code Flow should be authorization server to web server _only_. SPAs should use Implicit Flow or Password Grant _only_.

[http://oauth2.thephpleague.com/authorization-server/which-grant/](http://oauth2.thephpleague.com/authorization-server/which-grant/)

[2016-06-30 23:53] rquast commented on #1
Statellizer does it properly.. there's a server script for exchanging the authorization code for a token.

https://github.com/sahat/satellizer/blob/ae7912b8e100a0ec86f66526c0b342b5392189b3/examples/server/node/server.js#L548

Aurelia auth which was supposedly based on Statellizer, (and subsequently, aurelia authentication) doesn't do it properly, they do it in the browser which is wrong for an SPA

[2016-07-01 05:47] doktordirk commented on #1
i haven.t read all you wrote yet, so just a quick note.
 for satellizer you linked the server side. we are doing the client side here.
maybe see my aurelia-authentication-loopback-sample for the whole deal
and for ours, you linked oauth1. nearly all providers are oauth2 now

[2016-07-01 06:02] rquast commented on #1
Nevermind, I don't think you understand what I'm talking about. Maybe it will help others who want to take the time to understand oauth2 security issues.

[2016-07-01 06:41] doktordirk commented on #1
i am taking the time. it.s just a lot you send me to read

[2016-07-01 10:26] doktordirk commented on #1
well, to conclude this, we as well as aurelia-auth as well as satellizer do the same:

1 open popup with eg `https://www.facebook.com/v2.5/dialog/oauth?client_id=937004143046787&display=popup&redirect_uri=http%3A%2F%2Flocalhost%3A9000%2F&response_type=code&scope=email`
2 in the popup, the user logs into facebook (the authenication provider)
3 on sucess, facebook redirects the popup to eg `http://l

[2016-07-01 10:36] doktordirk commented on #1
though now i need to rethink, why the code isn't just send to the server directly, hmm. but maybe it is? thinking...

[2016-07-01 13:25] doktordirk commented on #1
http://oauth2.thephpleague.com/authorization-server/which-grant/

so seems we are on the save side. anyways, this is the client. the client can't be unsave since it is inherently unsave. thus, any sercurity concerns are to be handled on the authentication and authorization server side.

[2016-07-07 09:37] vinny-Jo opened #206 "error with rc 5"
I am using aurelia-authentication with nodejs+Webpack+npm and kestrel. webpack resolver is failing:
**"Cannot find module './aurelia-authentication/authFilterValueConverter".**
**INFO [authentication] Add globalResources value-converter: authFilterValueConverter.**

also when I am trying to add aurelia-authentication to **typings**,
typings install npm:aurelia-authentication --global --save
typing

[2016-07-07 10:43] doktordirk commented on #206
i think it was
typings i npm~extend --global

[2016-07-07 11:02] vinny-Jo commented on #206
tried
typings install npm:aurelia-authentication --global --save
Please could you provide the right syntax
typings install npm:aurelia-authentication -npm~extend --global --save
typings install npm:aurelia-authentication ~extend --global --save
typings install npm~aurelia-authentication --global --save
typings install npm:aurelia-authentication --npm~extend --global --save
**same errors**

typings

[2016-07-07 11:02] vinny-Jo commented on #206
I am using aurelia-authentication with nodejs+Webpack+npm and kestrel. webpack resolver is failing:
"Cannot find module './aurelia-authentication/authFilterValueConverter".
INFO [authentication] Add globalResources value-converter: authFilterValueConverter.

[2016-07-07 12:13] doktordirk commented on #206
the one for authenticaion is currently still hidden in the dist folder. so should be

`typings i github:spoonx/aurelia-authentication/dist/commonjs/aurelia-authentication.d.ts`

[2016-07-07 12:15] doktordirk commented on #206
for extend
`typings i npm~extend`
worked for me

[2016-07-07 12:15] doktordirk commented on #206
anyways, usually try eg
`typings search extend`
to search for typings

[2016-07-07 12:57] vinny-Jo commented on #206
the following line is working
typings i npm:aurelia-authentication/dist/commonjs/aurelia-authentication.d.ts --global --save
aurelia-authentication
└── (No dependencies)

[2016-07-07 13:00] vinny-Jo commented on #206
Webpack resolver is failing:
"Cannot find module './aurelia-authentication/authFilterValueConverter".
**INFO [authentication] Add globalResources value-converter: authFilterValueConverter.**

How can I resolved the following error:
Unhandled rejection Error: Cannot find module './aurelia-authentication/authFilterValueConverter'.
    at http://localhost:5000/bundle/1.bundle.js:249:42
    at webpack

[2016-07-07 14:02] doktordirk commented on #206
have you added it to the webpack build resources. in the current skeleton that's in package.json:

[code]

[2016-07-07 14:33] vinny-Jo commented on #206
how do you defined a webpack resources (in your documentation it does not mentioned it). in My webpack.config.js have got the following

[code]

[2016-07-07 14:37] doktordirk commented on #206
yeah, that's with the 1.0.4 plugin: there it's as you posted. can you check with version of aurelia-plugin-webpack you use?

[2016-07-07 14:40] vinny-Jo commented on #206
in my package.json have got the following dependencies:

"aurelia-authentication": "^3.0.0-rc5",
    "aurelia-bootstrapper-webpack": "^1.0.0-rc.1.0.0",
    "aurelia-event-aggregator": "^1.0.0-rc.1.0.0",
    "aurelia-fetch-client": "^1.0.0-rc.1.0.0",
    "aurelia-framework": "^1.0.0-rc.1.0.1",
    "aurelia-history-browser": "^1.0.0-rc.1.0.0",
    "aurelia-loader-webpack": "^1.0.0-rc.1.0.0",
    "au

[2016-07-07 15:03] doktordirk commented on #206
so with 4 it'll be as i said above. but problem is the the plugin 4 is bugged and not working with authentication yet.

so atm best would be to

`npm i aurelia-webpack-plugin#1.0.4`

and keep the setting you posted above

[2016-07-07 16:06] vinny-Jo commented on #206
apply the specific version. It is working but on the aurelia console (debugging I am still getting the following)
INFO [authentication] Add globalResources value-converter: authFilterValueConverter

where can I add the authFilterValueConverter?

[2016-07-07 16:12] doktordirk commented on #206
that's just an info saying it just did that (added the value converter). so all should be fine

[2016-07-07 16:19] vinny-Jo commented on #206
thanks. it works fine now.

[2016-07-07 16:19] #206 closed

[2016-07-13 06:00] doktordirk opened #209 "add build resources entry"
see eg aurelia dialog. it.s a new setting to ease usage

[2016-07-15 08:48] doktordirk opened #210 "use optional.of eg OAuth1"
OAuth1, OAuth2 and Auth0Lock need be optional and in seperate files to reduce bundle size

[2016-07-16 11:08] doktordirk opened #212 "popup close working?"
can't close it when fb returns 'wrong url'. need to check that

[2016-07-17 10:46] doktordirk opened #213 "auto export authFilter"
caused bug in typescript. so, i removed it. should try to get it back

[2016-07-18 13:52] doktordirk commented on #213
done

[2016-07-18 13:52] #213 closed

[2016-07-18 15:02] doktordirk commented on #212
my use-case is impossible to fix. since it's not redirecting to the client, there's -correctly so- no way to get a handle on the content to detect the close button

[2016-07-18 15:02] #212 closed

[2016-07-21 17:39] joelcoxokc opened #215 "Importing spoonx/aurelia-api"
This breaks the CLI.

The fix is just changing all imports that reference `spoonx/aurelia-api` to `aurelia-api`

[2016-07-21 17:41] joelcoxokc commented on #215
I am closing this issue because this is resolved on master, but not in the latest release

[2016-07-21 17:41] #215 closed

[2016-07-21 18:03] doktordirk commented on #215
@joelcoxokc still, can you elaborate? what could have been broken.
here is the updated readme/build https://github.com/doktordirk/aurelia-authentication/tree/std-build

anyways, if you have comments for the std-build PR https://github.com/SpoonX/aurelia-authentication/pull/214 i'd be happy to hear them

[2016-07-31 15:37] mookid8000 opened #219 "Cannot readily install lib into Aurelia"
Hello there, JavaScript n00b here... sorry if this is totally crazy, but I was expecting to be able to

    au new --here

with Aurelia CLI (0.17.0) with standard options all the way, and then

    npm install aurelia-authentication --save

which nicely resolves to the current latest `3.0.0-rc5`.

Now I add `aurelia-authentication` to the `dependencies` element in `aurelia.json` and then I

    au

[2016-07-31 16:28] doktordirk commented on #219
https://github.com/SpoonX/aurelia-authentication#aureli-cli

[2016-07-31 16:39] mookid8000 commented on #219
Thanks for the super-quick response! 👍  😄

I did what it said, and then I got this:

[code]

and then I ran

[code]

and added `aurelia-fetch-client` to `aurelia.json`, but then I got

[code]

and then I did the same thing with `aurelia-api`, but then the same thing happened for `qs`, and `stringify`... and when I added `stringify`, it kept saying

[code]

Am I doing this wrong?

[2016-07-31 16:42] doktordirk commented on #219
nope. this is the way to go. gets easier later, since then you know begorehand what to install

npm install stringify qs --save

[2016-07-31 17:14] doktordirk commented on #219
@mookid8000 well, in this version what needed is:

`npm i aurelia-api aurelia-authetication aurelia-fetch-client`

and in aurelia.json

[code]

[2016-07-31 17:18] mookid8000 commented on #219
Excellent - that solved it 👍

[2016-07-31 17:20] mookid8000 commented on #219
Can you explain to me real quick (or point me to information somewhere else) how to resolve the typical "ENOENT: no such file or directory" error seen above?

What is it that allows for e.g. Aurelia's own dependencies to resolve perfectly by their name only (and not requiring the name-path-main object)?

[2016-07-31 17:24] doktordirk commented on #219
there's some explanation here on howto add packages to cli .
not all of them do. main thing prventing it is a) outdated package.json structure and b) a module consists of several files. newer aurelia plugins will have a aurelia.build entry in the package.json to remove this step. but that feature might not be in all plugins and/or enabled in aurelia cli

[2016-07-31 17:27] doktordirk commented on #219
ups the here was missing: :smile:  https://github.com/aurelia/cli

[2016-07-31 17:38] mookid8000 commented on #219
Excellent! Thanks for the quick response and fix 😄

[2016-07-31 17:38] #219 closed

[2016-08-01 03:31] vincentw56 opened #220 "Add expiration config"
It would be good to have an expiration configuration similar to the "accessTokenProp". I am using the default OWIN token provider in ASP.NET. It produces this output:

[code]

As you can see, the expires_in property is used and not an "exp" property. This keeps the token from expiring.

[2016-08-01 06:11] vincentw56 commented on #220
I did switch to a JWT and it works just fine.

[2016-08-01 06:11] #220 closed

[2016-08-01 11:19] doktordirk opened #222 "let pollPopup reject with type Error"
rejecting with non-error types can raise warnings

[2016-08-02 17:58] photomoose opened #223 "Extracting access_token from popup URL query string includes hash in property name"
After a successful authentication with Identity Server, the popup window is redirected with the access_token being a hash fragment in the URL rather than a query parameter.

aurelia-authentication appears to not consider hash fragments and so the '#' character is included in the property name of the resulting object when the URL is parsed:

![image](https://cloud.githubusercontent.com/assets/19836

[2016-08-03 08:57] #223 closed

[2016-08-03 16:23] doktordirk opened #227 "use storageEvent and optional don't set hasDataStored"

[2016-08-05 07:29] srollinet opened #230 "auth0 wihtout auth0-lock"
Is it possible or planned to support auth0 without auth0-lock (using auth0.js or their API).
I would like to be able to use auth0 without their UI.

[2016-08-05 12:58] doktordirk commented on #209
long done

[2016-08-05 12:58] #209 closed

[2016-08-06 08:26] doktordirk commented on #230
i don.t think we.ll implement it ourselves. but PRs are usually welcome :)

[2016-08-08 21:48] ricbermo opened #231 "add ability to override getTokenFromResponse with custom method"
It'd be nice if we, developer, had the ability to override this method.
Recently I was playing a little with Aurelia and this plugin and used Nodal to get an API running. Nodal authentication controller returns the access_token like this:
`{
  "meta": {
    "total": 1,
    "count": 1,
    "offset": 0,
    "error": null
  },
  "data": [
    {
      "user_id": 1,
      "access_token": "360e4cb7d4905

[2016-08-09 06:25] doktordirk commented on #231
yeah, array might not work atm. i think our approach needs rethinking to make it more flexible in general.

[2016-08-09 07:57] doktordirk commented on #231
@ricbermo would that work for you  https://github.com/SpoonX/aurelia-authentication/pull/232/commits/26edc37939c8d42a6d750c627b6ec663ff9787f8  ?

[2016-08-09 07:58] #199 closed

[2016-08-09 07:59] doktordirk commented on #114
https://github.com/SpoonX/swan-example-client

[2016-08-09 07:59] #114 closed

[2016-08-09 08:00] doktordirk commented on #203
@oteuan ah, i forgot. this still valid?

[2016-08-09 08:00] #201 closed

[2016-08-09 08:03] doktordirk commented on #196
should be solved when following the install instructions

[2016-08-09 08:03] #196 closed

[2016-08-09 08:05] doktordirk commented on #108
not doing that ourselves probably

[2016-08-09 08:05] #108 closed

[2016-08-09 08:05] doktordirk commented on #157
not gonna do that any time soon

[2016-08-09 08:05] #157 closed

[2016-08-09 08:15] doktordirk opened #233 "switch finally to settings.auth for authFilter"
that's what settings was for. we shouldn't keep that wrong approach any longer
https://github.com/aurelia/router/pull/384#issuecomment-237833394

[2016-08-09 10:56] oteuan commented on #203
Hi,

No worries.
Yes I am still having this issue. The work-around is what I have at this moment (loginCustom). We are on "aurelia-authentication": "^3.0.0-rc5" at this moment.

Thanks.

[2016-08-09 14:11] ricbermo commented on #231
@doktordirk yes sir, it'd totally do the job, thank you

[2016-08-10 09:46] alexknips opened #234 "How to use aurelia-authentication with x-www-form-urlencoded token request?"
Hi, I would like to use aurelia-authentication according to the oauth 2 standard. For requesting a token I need to issue a x-www-form-urlencoded token request.

I tried doing this by calling
[code]

Unfortunately, the content-type is overriden by the following code in aurelia-api.js.
[code]
I know it is a different package but I feel that this issue is mostly related to aurelia-authentication.

Th

[2016-08-10 09:49] RWOverdijk commented on #234
Hello @alexknips, which version are you using?

[2016-08-10 09:49] #134 closed

[2016-08-10 09:51] alexknips commented on #234
"aurelia-api": "npm:aurelia-api@^3.0.0-rc8",
"aurelia-authentication": "npm:aurelia-authentication@^3.0.0-rc8"

[2016-08-10 09:52] RWOverdijk opened #235 "Create ISSUE_TEMPLATE.md"
For all plugins, e.g.
- Did you check the docs? <link to docs>
- Did you check the issues if someone else might have answered it already?
- What version are you using?
- If it looks like a bug, what browser are you experiencing it in?
- If it's reproducible, please provide the steps.

[2016-08-10 10:53] doktordirk commented on #234
i think it needs to be for x.form
this.auth.login({email: this.email, password, this.password}, {headers: {'Content-Type': 'x-www-form-urlencoded'}})

(and same for signup afaik if that's used)

[2016-08-10 11:23] alexknips commented on #234
The final solution is

[code]

By the way, I am using OpenIddict.

Thanks a lot.

[2016-08-10 12:07] doktordirk commented on #234
glad it worked. i'll see that i update the docs for that at some stage

[2016-08-10 12:07] #234 closed

[2016-08-17 13:28] doktordirk commented on #203
should work. only thing might be Content-Type vs eg content-type.
else try again to update aurelia-api and authentication. maybe it magically helps

[2016-08-17 16:57] stefan-gisworks opened #238 "No Documentation on rest service?"
Is there any documentation, what a rest service should return on this.authService.login(credentialsObject)?
Returning the token does nothing in aurelia-authentication.

[2016-08-17 17:13] doktordirk commented on #238
that's not the job of a rest api server, but of an identity server. that one will only handle signup/login/profile and give out tokens.. the rest server then needs the token to see if a user is allowed to access the api

as for the token itself, it's best with a jwt (though any token as such works) (http://jwt.io)

you can have a look at my sample project https://github.com/doktordirk/aurelia-auth

[2016-08-17 17:30] RWOverdijk commented on #238
The rest api may also handle authentication. It has to return the configured token key.

[2016-08-17 17:31] #238 closed

[2016-08-19 12:04] doktordirk commented on #231
done

[2016-08-19 12:04] #231 closed

[2016-08-19 12:04] doktordirk commented on #227
done

[2016-08-19 12:04] #227 closed

[2016-08-23 13:46] VMBindraban opened #239 "refreshTokenUrl gets ignored."
The `refreshTokenUrl` setting gets ignored when set.

[2016-08-23 17:37] MartinMason opened #240 "OIDC Provider Needed?"
I've been working on integrating aurelia-authentication with an OpenId Connect (OIDC) provider, OpenIddict. The same issues I'm facing would also be experienced by anyone trying to integrate with IdentityServer. Integration with an OIDC provider is like integration with a Auth0 as it should and probably would be the only configured authentication provider in your solution. I've got it "working" in

[2016-08-30 16:47] MartinMason commented on #240
#244 implemented - can see use of this feature with OpenIddict at https://github.com/SoftwareMasons/aurelia-openiddict

[2016-08-31 19:05] doktordirk opened #246 "optional error interceptor"
eg if response.error throw error

[2016-09-09 00:41] genadis opened #248 "Configurable location for Popup window closing (Web platform)"
In my use case aurelia-authentication plugin is part of application that is a widget running on different websites (domains).
For example the widget can run on website: `foo.com`, while the widget authentication and operation is performed against server running on `widget.com/api`.

From what I can tell, the [popup](https://github.com/SpoonX/aurelia-authentication/blob/master/src/popup.js) windows

[2016-09-09 07:29] doktordirk commented on #248
i've updated from the source. can you give it a try. maybe it fixes it for you

for jspm:
`jspm i aurelia-authentication=github:doktordirk/aurelia-authentication@test`
for npm:
`npm i github:doktordirk/aurelia-authentication#test`

[2016-09-09 21:17] genadis commented on #248
Thank you for your response.
Testing it, unfortunately no.
Below are debug results of the `pollPopup`
website domain: localhost:9000
widget server domain: 127.0.0.1:8000
protocol of both: http
redirectUri: http://127.0.0.1:8000/api/auth/google

![debug](https://cloud.githubusercontent.com/assets/6747147/18402783/d1103e1a-76e9-11e6-89a5-e94ead5c98ae.png)

Breakpoint on line 168 is not reached after

[2016-09-10 06:25] doktordirk commented on #248
i'm not quite sure if i get your setup correctly. so, let's compare to the 'usual' setup:

the app runs on localhost:9000
it opens a popup which load the login page from https://accounts.google.com/o/oauth2/auth'
after login, google redirects to  localhost:9000?code=xxz
the popup gets closed by the app
the the app posts the code xyz to auth server 127.0.0.1:8000/auth/google
the auth server handsha

[2016-09-10 06:43] genadis commented on #248
the app runs on localhost:9000
it opens a popup which load the login page from https://accounts.google.com/o/oauth2/auth'
after login, google redirects to 127.0.0.1:8000/api/auth/google?code=xxz
the popup gets closed by the app (***Here is the issue)
the the app posts the code xyz to auth server 127.0.0.1:8000/auth/google
the auth server handshakes with google to confirm the code xyz,
the auth ser

[2016-09-10 10:38] doktordirk commented on #248
allowing blankly all redirectUrls would be a risk. does your auth server at least know all the domains?

[2016-09-10 10:47] doktordirk commented on #248
so i guess your flow shoukd be
in popup:
Google redirects to your server
your server gets the webpage url from userdata which you can add to the popup
your server exchanges the code for a token  with google
your server checks the second redirecturl and redirects with the own token as parameter
the webpage sees that it got a token directly from the popup and uses that one

[2016-09-10 10:49] doktordirk commented on #248
the last part is already in the ouths2.js code

[2016-09-10 12:28] genadis commented on #248
Yes, Users cannon Authenticate (The POST step) just from any website.
Sorry for the long text below...

Regarding the flow You've described:
1. Google redirects to your server
2. your server gets the webpage url from userdata which you can add to the popup - You mean during the [POST](https://github.com/SpoonX/aurelia-authentication/blob/master/src/oAuth2.js#L72)? If so, yes that was my though as

[2016-09-10 15:34] doktordirk commented on #248
why contact you server twice? as the state makes a round trip, yuo can store the original url there, so, i'd still do like:

popup:
https://accounts.google.com/o/oauth2/auth ?
   redirect_uri=http://127.0.0.1:8000/auth/google &
   state=url%3Dhttp://localhost
->
http://127.0.0.1:8000/auth/google ?
   code=xyz &
   state=url%3Dhttp://localhost
(server checks url in the state, exchanges code for tok

[2016-09-10 17:43] genadis commented on #248
Thank you for the suggestion regarding the usage of state query parameter and single query to the server.

The issue I'm facing is not solved by that.
When the popup is in different domain than the webpage, it is impossible to access the [popupWindowPath](https://github.com/doktordirk/aurelia-authentication/blob/test/src/popup.js#L68) of the `this.popupWindow.location` due to [browsers cross origi

[2016-09-10 19:19] doktordirk commented on #248
if your server redirects then back to your webpage, than this shouldn't be a problem or? at least, i hoped/suggested it'll work like:

popup loads google page (popup keeps polling) -> redirect to server with code
popup loads (empty) server page (popup keeps polling) -> redirect to web app with jwt
popup loads web app page (server stops polling and close popup)

[2016-09-10 21:52] genadis commented on #248
according to [this line](https://github.com/doktordirk/aurelia-authentication/blob/test/src/popup.js#L70) the popup will close only when the redirectUri is equal to the popup window.
The redirectUri is not the webpage, but the server which is different domain from the webpage (this is the issue). So if server will redirect to the webpage url it won't help...

I cannot set the redirectUri to webpag

[2016-09-10 22:23] genadis commented on #248
Yep.. with version: npm:aurelia-authentication@3.0.0-rc9 it's working (quick test done with google and facebook providers).

But if you merge the test branch with the change of comparing to the redirectUri, it will break.

Please if you merge the test branch, add the listening to the `message` event functionality.

For reference, the setup that worked required the configuration (for the providers)

[2016-09-11 07:21] doktordirk commented on #248
great.
but what you need the messages for then?

ps: i'll just drop that update PR. seems the previous=current version makes more sense

[2016-09-11 09:59] genadis commented on #248
If you are dropping [this](https://github.com/doktordirk/aurelia-authentication/blob/test/src/popup.js#L70):

[code]

and staying with [this](https://github.com/SpoonX/aurelia-authentication/blob/master/src/popup.js#L64)

[code]

then there is not need for the messages.

Thank you for the patience and help!

[2016-09-11 11:53] doktordirk commented on #248
i will. we can close this then.

[2016-09-11 11:53] #248 closed

[2016-09-11 11:54] doktordirk commented on #240
done

[2016-09-11 11:54] #240 closed

[2016-09-12 21:29] tonybravano opened #251 "Converting Asp.net Core Project to Aurelia using aurelia-authentication"
Hi,
I have an Asp.net core (full .net) project using Identity.  I have Facebook, Google  and Twitter integration.  I wanted to convert that to an Aurelia App and was very excited to see your project.  I am having one heck of a time dealing with responses from the social media.  No matter what I tried, the response is posting to the server like for instance in case of Google, /authgoogle.  Further,

[2016-09-13 06:36] doktordirk commented on #251
i'm not still quite sure what part isn't working. i fear you need to elaborate on what your setup is and which part of the oauth2 flow isn't working

[2016-09-13 06:44] tonybravano commented on #251
Forgive my ignorance. I just discovered Identityserver4 & Openiddict.  Trying to understand it all :-)
I tried the Aurelia Skeleton app es2016.  When I used the examples just like you had them I was having issues.  From Aurelia Login page, when I clicked the Google Login Button, it posted back to the server, but I got no data back. I know I'm missing some things.  But looks like I got to pick one

[2016-09-13 07:02] doktordirk commented on #251
have you seen http://aurelia-authentication.spoonx.org/oidc.html

[2016-09-13 07:05] tonybravano commented on #251
Yes sir. But can't figure out how to do Facebook or Google login thru the OID using that config.

[2016-09-13 07:12] doktordirk commented on #251
haven't used it myself. maybe try to get hold of @MartinMason . that's the one who worked on it here

[2016-09-13 07:16] tonybravano commented on #251
@MartinMason Could you help please?

[2016-09-13 18:44] MartinMason commented on #251
If you're using OpenIddict, you'd only configure the one authentication provider. Facebook, Google, and other social authentication providers are included by modifying Asp.Net Identity Core to use other social authentication methods. https://docs.asp.net/en/latest/security/authentication/sociallogins.html

I have a working sample with an aurelia app modified from the aspnetcore-typescript skeleton

[2016-09-20 10:12] cb-fred opened #254 "Refresh Token Incompatible with Django JWT"
Hi, I tried to refresh a jwt token on a django-rest-framework-jwt api, unfortunately the
refresh payloads seem to be incompatible.

The Django refresh route expects a post with the following JSON payload:
[code]

However aurelia-authentication sends a
[code]

Is there any way to modify the format of the updateToken() request payload to match what Django expects ?

[2016-09-20 11:10] doktordirk commented on #254
oh well, since it's the last non-configurable, i guess it could/should be done. care to make a PR to that end?

[2016-09-20 13:12] cb-fred commented on #254
Sure :)

[2016-09-21 22:14] Didd opened #256 "Sign up API to support HTTP PUT method"
It appears, the sign up API supports post request by default, but there may be scenarios to use PUT when possible to encourage idempotency. Any advice on how to go about this ?

[2016-09-22 06:12] doktordirk commented on #256
since we already have eg profileMethod i guess we also can add a loginMethod and a signupMethod. you can make a PR if you want

[2016-09-22 13:56] jamesond commented on #251
Any word on the logout Martin? I messaged you on Gitter as well.

[2016-09-22 17:39] ghost commented on #256
Just a taught, I think based on the way the API's are designed we may have Parameters v3 for Signup, one that allows PUT method to be used.

[2016-09-23 08:15] doktordirk commented on #256
not quite sure what you want to tell me. i've already said that you can PR that option

[2016-10-01 17:48] nathanchase opened #259 "Can't override baseConfig options?"
in the BaseConfig, the default for _loginUrl_ is as follows:
`this.loginUrl = '/auth/login';`

but if I try to override it in my authConfig to something else:

ex: `loginUrl: 'oauth2/token'`

it does not take effect.

What am I missing?

[2016-10-01 17:49] nathanchase commented on #259
FYI, I am using:
"aurelia-api": "3.0.0-rc9",
"aurelia-authentication": "3.0.0-rc11".

Is this the current recommended release version to use for both packages?

[2016-10-01 18:11] doktordirk commented on #259
versions are fine i think. no effect? weird. one might think the missing '/' cause trouble, but that would be an effect as well i.d say

[2016-10-01 18:11] doktordirk commented on #259
else your authConfig works fine?

[2016-10-01 22:05] nathanchase commented on #259
Yeah, I tried removing everything non-essential. This is my authConfig:

[code]

if I remove the loginUrl line, and move it to my main,js, it finds it (and replaces correctly) when it's done there:

[code]

So somehow the authConfig data is not getting added to the plugin.

I'm using aurelia + ES2016 + webpack, based off the skeleton.
https://github.com/aurelia/skeleton-navigation/tree/master/skel

[2016-10-03 05:49] doktordirk commented on #259
the missing '=' is a copy/paste error?
anyways, try a named export

Yeah, I tried removing everything non-essential. This is my authConfig:

[code]

[code]

[2016-10-05 02:49] saschanm opened #261 "auth0 with auth0-lock 10"
Any plans to make auth0 provider compatible with version 10 of auth0-lock? There are breaking changes from version 9 to 10 and version 9 no longer being updated.

https://auth0.com/docs/libraries/lock/v10/migration-guide

[2016-10-05 08:26] doktordirk commented on #261
@nexbit did that part. so, it's probably better if you auth0lock users make a PR to that end

[2016-10-05 08:30] pfurini commented on #261
I already done the migration in my fork, but didn't have spare time to make a PR..

The main problem is that now is working great with v10, but breaks compatibility with v9.
So if anyone is using this and not willing to update, their app will break if they update the dependency.

[2016-10-05 08:56] doktordirk commented on #261
can't be helped i'd say. i'd rather do that change now. we want to get of the rc train this week. a breaking change just after releasing would e more annoying

[2016-10-05 09:06] pfurini commented on #261
@saschanm @doktordirk Done... CI build is in progress, then if someone can test this, it' be great! Doc update is pending, no spare time today

[2016-10-05 09:08] pfurini commented on #261
Ok.. blocked by eslint, don't know why didn't failed on my side.. I'll fix that later

[2016-10-05 09:50] doktordirk commented on #261
we've extended aurelia's linting rules last week slightly https://github.com/SpoonX/spoonx-tools/blob/master/.eslintrc.json
😄

[2016-10-05 13:10] doktordirk commented on #261
@saschanm tx to @nexbit next update it'll be auth0-lock 10

[2016-10-05 13:10] #261 closed

[2016-10-05 21:41] saschanm commented on #261
Thanks @nexbit and @doktordirk...love your work!

[2016-10-07 08:00] doktordirk opened #266 "remove token when refesh_token expired"

[2016-10-07 11:34] doktordirk commented on #266
i think id does

[2016-10-07 11:34] #266 closed

[2016-10-07 11:39] doktordirk commented on #254
merged https://github.com/SpoonX/aurelia-authentication/pull/255

[2016-10-07 11:39] #254 closed

[2016-10-07 11:40] doktordirk commented on #239
that's still valid? i can't see how that can happen

[2016-10-07 11:41] #203 closed

[2016-10-07 13:32] VMBindraban commented on #239
It works now so i think its a non-issue?

[2016-10-07 13:32] #239 closed

[2016-10-09 00:25] mredl opened #269 "authenticated and isAuthenticated() always true"
authenticated and isAuthenticated() always returning true, altough there is token in session storage.
 i'm using getExpirationDateFromResponse like

`
getExpirationDateFromResponse: serverResponse => {

        let expires: number = 0;
        if (serverResponse != null && serverResponse.expires_in != null) {
            expires = (new Date().getTime() + serverResponse.expires_in * 1000);

[2016-10-11 15:22] lpj145 opened #272 "Validate Token"
I try return token 'false' of backend, and this accept and storage, permission is accept. on authorizeStep needed validate token and warning todo.

[2016-10-11 15:59] doktordirk commented on #272
usually no token is return in that case. unfortunately 'false' is currently assumed to be a valid non-jw. but i agree that making jwt truly the default and throwing for invalid jwts (maybe adding checks for claims, alg, exp  etc) might be a good idea.
@AdamWillden thoughts?

[2016-10-11 16:01] lpj145 commented on #272
but its ocur when login my bakcnd, and return false, but, and change localStorage token.

[2016-10-11 16:01] lpj145 commented on #272
our considers use jsonwebtoken to do it?

[2016-10-11 16:03] doktordirk commented on #272
our lib is designed for jsonwebtokens. it add's some features to work with other tokens, but jwt is certainly recommended

[2016-10-11 16:10] lpj145 commented on #272
and when i login, pass false data todo, but with response, API says Token not found in response and broken login method. i need appear wrong user and password for user.

[2016-10-11 16:32] lpj145 commented on #272
When login screen, i insert local storage wrong jwt and redirect to dashboard app with succes full.

[2016-10-11 16:37] doktordirk commented on #272
that 'Token not found' message is fine, if you expect it to happen.  i've already PRed a fix that removes that messages.

i'm not sure. is your problem solved now?

[2016-10-11 19:30] doktordirk opened #273 "interceptors"
add adding interceptors mechanism and use them to extract and decode token. that.ll make it much easier  to customise those

[2016-10-12 00:26] lpj145 commented on #272
to solve it, i try new AuthenticationStep, and getMe() - method, to validate on server/backend token is valid!

[2016-10-12 01:58] lpj145 commented on #269
this merged?

[2016-10-12 02:39] lpj145 opened #274 "storageChange event no works!"
storageChange no redirect or works. update readme with compile help. to help you.

[2016-10-12 07:28] doktordirk commented on #274
for ie11 there is already a fix merged. you can test it with `jspm i aurelia-authentication=github:doktordirk/aurelia-authentication@test`

[2016-10-12 17:48] doktordirk opened #276 "add commit-cleanup task"
make commit cleanup task
- sync dependencies
- uncommit dist
- suggestions?

[2016-10-13 10:02] pfurini commented on #230
Auth0 not in popup mode (redirect mode): maybe I'll PR something in the future, if a standard oauth2/openid flow isn't sufficient..
If you want to investigate more, I'm under the impression that a standard flow (already supported by aurelia-authentication) can be used with auth0 without their libraries. If, beside having back a proper auth token from them, you want more control, you can simply imp

[2016-10-13 10:29] nexbit opened #278 "Reload on storage event shouldn't be opt-in?"
One of the latest commit added a forced `location.reload()` call at the end of the storage handler.
This is a breaking change IMHO, and it should've been added behind an option with a default of `false`..

[2016-10-13 10:36] nexbit opened #279 "Wrong return type for authService.client property"
The property is declared as follows:
[code]
But it's wrong, the type is `Rest`.

[2016-10-13 10:43] nexbit opened #280 "Wrong type for authService.config property"
It is defined as follows:
[code]
But it should be `BaseConfig`, not `Config` as it points to the definition in `aurelia-api.d.ts`

[2016-10-13 15:39] #279 closed

[2016-10-13 15:39] #280 closed

[2016-10-13 16:04] lpj145 opened #284 "Compile dont work"
I try run gulp build, and found: [Error: Cannot find module 'transform-es2015-template-literals'] code: 'MODULE_NOT_FOUND' } transform-es2015-template-literals]

but, module have!
i try npm install and npm install babel-plugin-transform-es2015-template-literals

[2016-10-13 16:26] lpj145 commented on #284
Create .babelrc on path root.
and insert it:
`// without options
{
  "plugins": ["transform-es2015-template-literals"]
}`

[2016-10-13 16:43] doktordirk commented on #284
hmm. but the travis.ci buikd works fine. try reinstalling the npm packages from scratch. like
`rm -rf ./node_modules && npm i`

[2016-10-13 17:12] lpj145 commented on #284
solved it with second comment.

[2016-10-13 17:12] #284 closed

[2016-10-14 08:27] #269 closed

[2016-10-14 11:43] bas080 opened #288 "isAuthenticated with optional callback"
I have this login screen bug.

Aurelia-authentication checks if the token is valid. If that is not the case it does tries to update my token. This is an asynchronous  process. Yet isAuthenticated does not return a `Promise`.

To enable backwards compatibility I think it's best to pass an optional callback. This is called when either no update is required or after the async update is completed.

Ex

[2016-10-14 11:47] doktordirk commented on #288
callback instead of optionallly returning a promise seems to be a valid option here

[2016-10-14 12:09] bas080 commented on #288
maybe have it pass an error as first argument. In case the request failed.

[2016-10-14 13:05] doktordirk commented on #288
or we leave if to the user. there are quite a few options with .authenticted, pubsub, and the signaller.in oour case one can manually

[code]

which isn't much longer

[2016-10-14 16:17] pfurini opened #290 "Typescript typings: do not use capitalized (wrapper) types, use primitives instead"
In the `aurelia-authentication` codebase you used wrapper types instead of primitive types.
These are wrapper types: `Boolean, Number, String`, while primitive types are (obviously): `boolean, number, string`.

Having a d.ts that exposes wrapper types instead of primitive ones can lead to weird errors like this:
`error TS2345: Argument of type 'Boolean' is not assignable to parameter of type 'bool

[2016-10-14 16:24] pfurini commented on #290
PS: issues like this, and the others I already fixed, can be avoided by treating TS support as a first class citizen, and not an afterthought..
The only proper ways (IMHO) to achieve this are either:
- Write everything in Typescript, and avoid that weird src files that are not valid js files
- Add a suite of TS tests specifically crafted to test the d.ts correctness (test at least that `tsc` doesn

[2016-10-14 17:33] pfurini commented on #290
Just a bit of context:

TypeScript section [3.2.1](https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#321-the-number-type):

Typescript section [3.2.2](https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#322-the-boolean-type):

Typescript section [3.2.3](https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#323-the-string-type):

So you are returning/expecting pr

[2016-10-14 18:12] doktordirk commented on #290
ah. while i just thought it was nice to add 'better' types, you are naturally right on all points.

[2016-10-14 18:49] doktordirk commented on #278
done

[2016-10-14 18:49] #278 closed

[2016-10-14 18:51] doktordirk commented on #274
a fix was merged and published. if there still is an ie issue please report back

[2016-10-14 18:51] #274 closed

[2016-10-14 18:53] doktordirk commented on #290
reopen as reminder for our other plugins

[2016-10-15 10:58] pfurini commented on #288
I completely agree with @bas080 here.
If a method forks an async operation, either in its main execution flow or in a conditional branch like inside `isAuthenticated`, that method must either return a Promise or accept a completion callback.
When I looked at the method signature, I was confident it was sync.. I do not use refresh tokens (yet) in my app, so everything works fine. But my login flow

[2016-10-15 11:15] doktordirk commented on #288
maybe we just need a third method. we have isAuthenticated() method, authenticated status variable (doesn t have that issue and imho anyways the best option) and additionally xyz for promises

[2016-10-15 11:26] pfurini commented on #288
@doktordirk not completely sure.. the more I look at `isAuthenticated` code, the more it doesn't look sound to me..
Take the incriminated if:

[code]

Do you see a code smell here? `authenticated` is set to `true` like if `updateToken` was sync.
And at the same time this method is called inside `updateToken`, with the assumption that that `if` branch would never be executed because we just get an

[2016-10-15 11:36] doktordirk commented on #288
authenticated here is the class property, but the return value.

the reason to have it returning true is to prevent unneeded tab reloading.

but as i said, why use this BC method which gets dirty checked when binding anyways

ps: while not much of an issue, we should check for refresh_token expiration

[2016-10-15 11:37] doktordirk commented on #288
PS: I.d like to rewrite the whole plugin with plugable providers anyways

[2016-10-15 11:39] pfurini commented on #288
In my opinion, the refresh token flow has to be refactored, by taking into account an intermediate state that you could expose to lib users.

The state flow should consist in three main states: `unauthenticated`, `refreshing`, `authenticated`.
The `refreshing` state is when you called `updateToken` but not received a response yet. The user is responsible to deal with this situation, like temp lock

[2016-10-18 19:45] jasonhjohnson opened #293 "Non-popup option?"
Hi,

Are there plans to implement an inline option for the login container? I'm thinking of something along the lines of how Auth0 implements this: https://auth0.com/docs/libraries/lock/v10/customization#container-string-

Thanks,
Jason

[2016-10-19 07:21] RWOverdijk commented on #293
@jasonhjohnson I would like that very much, yes. Perhaps you could submit a PR for this feature?

[2016-10-19 12:07] jasonhjohnson commented on #293
I don't believe I have the ingenuity necessary to make that happen. :-(

Sent from my iPhone

[2016-10-20 08:18] apawsey opened #294 "Typings for authenticate method are incorrect"
The documentation states the authenticate method has three parameters, the second of which is as follows:
`[redirectUri]  [string/0/null/undef ]  redirectUri overwrite. 0=off, null/undef=use default`
However the typing information just describes it as a string parameter.

I would suggest keep it as a string and just use an empty string, "", instead of 0, to indicate not a desire to not redirect an

[2016-10-20 18:02] pfurini commented on #293
Hi, the author of auth0 plugin here.. You can pass additional options to the `lock` instance using the `lockOptions` configuration property, exposed when configuring the provider.
For example, this is extracted from a `main` file of mine:

[code]

As you can see I'm customizing a lot of `lock` options here..

[2016-10-20 18:13] pfurini commented on #293
My comment was a bit unclear.. :-P

I mean you can reproduce the exact behavior you have pointed out, if you wanted to use the `auth0` provider.
This isn't possible using the built-in popup for other providers, though, but you already found that.. ;)

[2016-10-20 18:20] pfurini commented on #294
@apawsey I'm pretty sure that they are keeping that awkward parameters for backwards compatibility, so it's unlikely they'd change them as you suggested.

Beside that, you're right that typings should be fixed for the `authenticate` method. I know they'll refactor that method sooner or later, but current typings should reflect current signatures..

[2016-10-23 15:13] nexbit opened #295 "setTimeout event for token expiration doesn't fire if tab suspended or OS go to sleep"
This is a known issue, and the reason why I prefer to use `setInterval` instead even if more expensive.
Another trick could be attaching a `window.focus` event listener, and check for token expiration there in addition to `setTimeout` handler.
If the OS goes to sleep, when it resumes the timeout has gone, but as soon as the user focuses the app window, you can check for token validity and correctl

[2016-10-25 08:32] doktordirk commented on #294
yes, that incredible stupid parameters are for backward compatibility. that's one of those things that has to get changed, once in some distant future we cancel full BC

[2016-10-25 08:33] doktordirk commented on #295
definatelly

[2016-10-25 15:32] pfurini commented on #295
After a couple days of continued use, I can confirm that the focus trick is working well. At least with Chrome on OSX, I haven't had any chances to test with other browsers, let alone with other OSes..

Anyway I think it's an harmless fix, the only downside is having an additional handler that can potentially run multiple times on every focus change.. But given its small computational impact, it's

[2016-10-26 07:48] doktordirk commented on #295
cool

[2016-10-27 10:36] doktordirk commented on #294
hmm, empty string seems better. 'll do that

[2016-10-27 19:36] #295 closed

[2016-11-02 09:31] #294 closed

[2016-11-04 20:50] ajoslin103 opened #300 "local authentication not accepting returned JWT"
tried w/versions 3.1.0 & 3.0.3 -- backend auth/login being called and returning JWT containing future exp

but jwt is not stored and authService.authenticated is false

how can I help solve this problem?

thanks
Al;

authConfig.js
[code]

login.js
[code]

backend

[code]

[2016-11-04 20:57] ajoslin103 commented on #300
it would seem that one _cannot_ return a bare jwt from a local backend -- the result is expected to be json

from aurelia-api.js -- around line 51

[code]

[2016-11-04 21:14] ajoslin103 commented on #300
returning a simple json structure works

[code]

[2016-11-05 07:33] doktordirk commented on #300
we should add that to the documentation it seems

[2016-11-05 11:19] ajoslin103 commented on #300
It was because I used aurelia-api -- that was the thing that demanded a json return

[2016-11-05 11:19] #300 closed

[2016-11-16 18:22] diegograsso opened #302 "Interceptor fails after refreshing token"
Hello,
I have an error message in this line:
```return this.client.fetch(request).then(resolve);```
here:
https://github.com/SpoonX/aurelia-authentication/blob/master/src/fetchClientConfig.js#L69

fetch method fails because `client` is undefined but the interceptor is refreshing the token and working fine. I'm using `aurelia-api` 3.0.0
I noticed that this.client is always undefined inside the inte

[2016-11-16 20:56] doktordirk commented on #302
right. well spotted

[2016-11-17 11:02] #302 closed

[2016-11-22 03:32] MartinMason opened #305 "Error in authService login parameter definition"
When the second parameter of the authService.login() is passed in as an object, TypeScript throws errors as the only allowed type in the current typescript definition file is a string.

[2016-11-22 03:50] MartinMason commented on #305
#306 fix implemented

[2016-11-26 04:09] arjasepp opened #307 "updateToken could have some extra options for client.post()"
Could you add somewhere extra header options to use while posting? login() has it and it works fine. I need to edit content-type to be application/x-www-form-urlencoded, but by default it is application/json. Every time I try to update token using refresh_token, I get error from server, that content-type should be application/x-www-form-urlencoded.

[2016-11-30 10:47] doktordirk commented on #307
you could set that maybe better with aurelia-api for the endpoint generally

[2016-11-30 11:27] arjasepp commented on #307
Aa, you mean token endpoint? Ok, will try and see how it goes.

[2016-12-20 13:05] rdehnhardt opened #310 "Access Token question"
I have a problem when I log in via OAuth server.

My OAUTH server returns a JSON that looks like this:
{
"token_type": "Bearer",
"expires_in": 1296000,
"access_token": "MYTOKEN",
"refresh_token": "MYREFRESHTOKEN"
}

The problem is that the value being saved in the localStorage is the whole JSON and not only the access_token.

My Local Storage
aurelia_authentication -> {"token_type": "Bearer","expi

[2016-12-20 13:06] rdehnhardt commented on #310
This is my authConfig

export default {
    endpoint: 'auth',
    configureEndpoints: ['auth', 'protected-api'],
    loginUrl: 'oauth/token',
    redirectUri: 'dashboard',
    storageChangedReload: true,
    expiredRedirect: 1,
    clientId: 'MYCLIENTID',
    useRefreshToken: true,
    accessTokenProp: 'access_token',
    refreshTokenProp: 'refresh_token',
};

[2016-12-20 13:12] RWOverdijk commented on #310
@rdehnhardt I didn't write that part so I'll have to check. I think it just stores the entire object, assuming it contains information you want to have (it's the response from the server after all).

[2016-12-20 14:32] rdehnhardt commented on #310
Yes, but I need to store only the access token, because I need it for future API requests

[2016-12-20 14:35] rdehnhardt commented on #310
This is the code that makes the access token storage?

https://github.com/SpoonX/aurelia-authentication/blob/master/src/authentication.js#L84

[2016-12-21 08:52] RWOverdijk commented on #310
@rdehnhardt Why _only_ the access token? You can still get it. Is your question: _how do I get the access token_?

[2017-01-08 19:13] drewblas opened #314 "Getting profile info from auth0"
After successful login from auth0, is there any way to get access to the profile info?

The documented way to do this with auth0Lock is by calling `lock.getProfile(authResult.idToken)`.  I'm able to get the idToken from `authService.getTokenPayload()`.  But there is no access to the `lock` object.  It seems to be buried somewhere deep inside `authService.authentication.auth0Lock`.

The only altern

[2017-01-09 08:41] RWOverdijk commented on #314
@drewblas You can use the `me` method for that. Tokens are used for authentication. You can get the payload itself, if that contains the data you need.

[2017-01-13 14:25] evenlee opened #316 "login method in aurelia-authentication.d.ts is not same as in authService.js"
I use aurelia-authentication to login locally, but when I try to use login code like [this](https://aurelia-authentication.spoonx.org/api_authService.html) example,
`this.authService.login({
  username: this.email,
  password: this.password,
  grant_type: "password"
}, {headers: {'Content-Type': 'application/x-www-form-urlencoded'}})
  .then(response => {
    console.log(response);
  });`
 I got a

[2017-01-13 15:03] RWOverdijk commented on #316
We haven't released this version yet. Are you working on master?

Either way, an update to v3.2.0 should fix things :)

[2017-01-13 15:03] #316 closed

[2017-01-14 00:27] evenlee commented on #316
Yes, I used master to build my project, hope the new version coming soon:)

Sent from my iPhone

On Jan 13, 2017, 11:04 PM +0800, Wesley Overdijk <notifications@github.com>, wrote:

Closed #316<https://github.com/SpoonX/aurelia-authentication/issues/316>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/SpoonX/aurelia-aut

[2017-01-14 00:49] RWOverdijk commented on #316
@evenlee Did you see the second sentence I wrote? I already published it :)

[2017-01-14 01:47] evenlee commented on #316
My apologize, thanks, I will make the update:)

Sent from my iPhone

On Jan 14, 2017, 8:49 AM +0800, Wesley Overdijk <notifications@github.com>, wrote:

@evenlee<https://github.com/evenlee> Did you see the second sentence I wrote? I already published it :)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/SpoonX/aurelia-authent

[2017-01-14 19:41] ajoslin103 opened #317 "401's in aurelia-api are not redirecting to login via aurelia-authentication"
I'm using aurelia-api v3.1.1 and aurelia-authentication v3.1.0 and calls to  aurelia-api endpoints that result in 401's are not redirecting to login via aurelia-authentication.

I'm using aurelia-authentication with simple username/password against my own backend -- I have a login page and a logout page.

my aurelia-api configs are as in the docs

my authConfig is
[code]

[2017-01-14 19:47] ajoslin103 commented on #317
whoops, my mistake -- the redirects are working as long as the calls are happening in code that is on a route

I have some code that runs in a static header, I'll have to catch errors in those and re-route myself

[2017-01-14 19:47] #317 closed

[2017-01-15 16:26] RWOverdijk commented on #317
👍  for finding it yourself. That always makes me happy :D

[2017-01-15 23:27] mateuszdw commented on #2
Hello RWOverdijk,

do you have any working example of aurelia-authentication and electron?

When I use electron this statement breaks
[code]

PLATFORM.global.document.location.host return null
this.popupWindow.location.host return undefined

also the electron popup window object is BrowserWindowProxy and it not has hash function in this.popupWindow.location.hash

Thanks

[2017-01-16 10:58] RWOverdijk commented on #2
Hello @mateuszdw,

I don't have such example. I'm not sure how that would work because it's not really a browser. I do want this to work, so if you know more about it I'd love to hear it so we can improve the module.

[2017-01-16 20:39] mateuszdw commented on #2
No problem. I think I worked it out on electron. Here is my fork
[code]
Critical changes are in these lines
https://github.com/mateuszdw/aurelia-authentication/commit/796f4f4a31af9a82193258a175882e11b03069a5#diff-57de96bf5b2cda8ece0c58273e1f3293R70
https://github.com/mateuszdw/aurelia-authentication/commit/796f4f4a31af9a82193258a175882e11b03069a5#diff-8ebce89d9c7de205daa19cd9eaf5f21aR79

I dont kn

[2017-01-17 11:52] RWOverdijk commented on #2
@VMBindraban could you look at these changes and implement them?

[2017-01-17 15:55] mateuszdw commented on #2
What I didn't do in my fork but I recommend, is to extend this condition by "electron" platform somewhere along these lines https://github.com/SpoonX/aurelia-authentication/blob/master/src/oAuth2.js#L68

[2017-01-17 21:15] RWOverdijk commented on #2
@mateuszdw Thanks. CC @VMBindraban

[2017-01-18 12:42] k2s opened #319 "logout() should work also if request to consif.logoutUrl fails"
I configured `logoutUrl`. In my project it is considered as normal, that the server is offline when user wants to logout. Currently the whole logout() process will fail and user is not able to logout.

I think it should be at least configurable that server side logout is not guarantied if server is offline.

My quick workaround:

[code]

[2017-01-18 16:23] RWOverdijk commented on #319
@k2s I suppose that makes sense. All our logout procedures are offline to begin with. I think that's why we didn't notice.

I think your workaround makes sense to just use though, what do you propose?

[2017-01-19 07:16] k2s commented on #319
my workaround doesn't respect for example logoutRedirect

My suggestion is simple: https://github.com/SpoonX/aurelia-authentication/compare/master...k2s:patch-1

[2017-01-19 14:56] vegafx12 commented on #310
I was running into the same issue myself earlier... Based on the info in docs:

This configuration seems to indicate that setting these values will instruct the app to parse the token from the object itself? If so, I couldn't get it to do so.

Do I need to configure interceptors to catch the response and parse it out manually?

True, the object is returned in the response and it can be handled, ju

[2017-01-22 17:25] AndreSteenbergen commented on #307
If you still have an issue with this Arjasepp
The following worked quite well for me, after some trial and error.

The main part is: `cfg.registerEndpoint('tokenendpoint', tokenEndpoint, {headers: {'Content-Type': 'x-www-form-urlencoded'}});`

My main cs file:
[code]

And my authConfig:
[code]

application config:

[code]

I wanted to use rejectOnError in the http config. As the authentication mod

[2017-01-23 22:13] suamikim opened #320 "Always getting "Token not found in response""
Hi,

I'm currently trying to use the `aurelia-authentication` plugin with an already existing C# server infrastructure but can't get the login to work properly since I'm always getting an `Token not found in response` error.

I'm currently using the `aurelia-fetch-client` with the following base config:

[code]

The server responds to my `login` request with status code `200` and some JSON which h

[2017-01-25 07:31] suamikim commented on #320
Login is working if I change my server response to something like this:

[code]

Therefore I've tried to adjust my base config accordingly by adding a dedicated `accessTokenProp` setting:

[code]

Unfortunately this sole change (adding the `accessTokenProp`) leads to an unhandled exception on app start:

[code]

[2017-01-26 13:11] bondib opened #321 "In case updateToken fails user should be redirect to expiredRedirect (from config)"
Currently, if updateToken fails (the refresh token by itself might not be valid anymore), it just logs an error.

I would expect that if config.expiredRedirect is set - in case the updateToken operation failed - the user will be automatically redirect out of the app (to what ever I set in config.expiredRedirect)

[2017-01-26 16:36] RWOverdijk commented on #321
Sounds good to me. Would you mind making a PR for this?

[2017-01-26 16:45] RWOverdijk commented on #307
That's the perfect comment to close this on. Thank you :)

[2017-01-26 16:45] #307 closed

[2017-01-26 16:47] RWOverdijk commented on #310
@vegafx12 Sorry for the late response. I had a holiday and then turned out sick...

Additional data is part of the payload in the token. I still don't fully understand the question I'm afraid.

[2017-01-26 16:59] RWOverdijk commented on #319
@k2s Open up a PR? :) I like it.

[2017-01-31 13:07] suamikim commented on #320
I'd really appreciate some help with this...

[2017-01-31 21:17] RWOverdijk commented on #320
@suamikim Sorry, it has been a bit busy and I must admit I didn't see the notifications for this issue.

It can't find the token, so perhaps the accessTokenProp is broken. It's worth checking out why it's not being set. Would you mind taking a look and perhaps submitting a PR? The relevant code can be found around here: https://github.com/SpoonX/aurelia-authentication/blob/435e8b8898b6447b8d4b4ae4

[2017-02-01 09:39] suamikim commented on #320
@RWOverdijk Thanks for pointing out the relevant part in the source! I'm not sure if I find the time to look into this myself this week but I'll try. If not, I can wait until you find the time ;)

The response from our server looks something like this:

[code]

Please let me know if I can give you any more detailed information!

[2017-02-02 08:38] RWOverdijk commented on #320
@suamikim That should work... Weird.

[2017-02-08 11:43] vegafx12 commented on #310
@RWOverdijk I was just confused about some of the configuration settings mostly. The one thing that I believe @rdehnhardt was talking about (which I was also confused about), was the way the token is stored in local storage.

![image](https://cloud.githubusercontent.com/assets/16313950/22735743/aea67fee-edc0-11e6-8e27-f5ee782d6b1d.png)

If 'token' returned from server is an object. Is there code b

[2017-02-08 12:36] RWOverdijk commented on #310
@vegafx12 The code implemented is the property you can pass in. It uses that to fetch the token. Storage isn't affected by this. The payload is in the token, part of it. The rest doesn't get stored.

[2017-02-08 18:33] vegafx12 commented on #310
@RWOverdijk In the screenshot on the aurelia-authentication homepage, you have this:

![image](https://cloud.githubusercontent.com/assets/16313950/22751607/ad39d158-edfa-11e6-9fbb-aa7a5752a688.png)

When I use aurelia-authentication, I get when you in my previous screenshot. Any idea what I might be doing differently?

[2017-02-08 20:15] RWOverdijk commented on #310
That screenshot is very old. That was before we added support for refresh tokens.

It's still the same. The token contains the payload. I honestly don't see the issue. If you want to store more from the response, that's not in the payload, we'll have to find a solution for that. Is that your question?

[2017-02-09 17:09] MrChriZ commented on #53
Was this intentionally removed - it doesn't appear on the latest readme?

[2017-02-09 17:13] MrChriZ commented on #53
Ah I see it just moved to here:https://aurelia-authentication.spoonx.org/

[2017-02-13 20:41] ne0guille opened #326 "Providers parameters are not beeing setted"
Hello, im having some problems using google provider OAuth2 with aurelia-auth

[code]
![image](https://cloud.githubusercontent.com/assets/15113782/22902435/c2cd7b9c-f213-11e6-98b0-102feff67717.png)

I;ve setted my client id with all the defaults options, but its not beeing set on the current obj, so i get a 400 Error: invalid_request

Missing required parameter: client_id

this is the generated ur

[2017-02-14 07:47] RWOverdijk commented on #326
@ne0guille Does this help? https://github.com/doktordirk/aurelia-authentication-loopback-sample/blob/f07bd1b1270829e20c2e09543231906214eac2c8/client-ts/src/authConfig.ts

I know this repo has been used to test several implementations.

[2017-02-14 13:04] bondib opened #327 "Refresh token with auto renew & multiple tabs open may lead to infinite storage events between tabs and browser freeze"
In case you have multiple tabs open and you are using refresh tokens that get auto renewed, this may lead to infinite storage events between tabs which will lead to browser freeze.

You can detect this issue by seeing in the console log:
"Stored token changed event" **thousands of times** and the browser will freeze.

This occurs as the code below (from https://github.com/SpoonX/aurelia-authentica

[2017-02-14 17:12] ne0guille commented on #259
@doktordirk could you manage to fix this? im having the same issue here with both aurelia-auth and aurelia-authentication plugins

[2017-02-14 18:17] ne0guille commented on #259
found the isssue, it was generated becasue im using typescript i could successfully import my authConfig calling the authConfig.default property

[2017-02-15 08:23] RWOverdijk commented on #259
I like it when someone finds the solution before I can even read the question. Nice! :)

[2017-02-15 08:23] RWOverdijk commented on #259
Closing this. If this is still an issue, feel free to comment or reopen.

[2017-02-15 08:23] #259 closed

[2017-02-16 12:19] suamikim commented on #320
I've finally found time to actually tackle this issue just to realize that adding `accessTokenProp: 'userToken'` to my config actually works as expected. I've no idea why it lead to an unhandled exception when I tried this 22 days ago (see [my earlier post](https://github.com/SpoonX/aurelia-authentication/issues/320#issuecomment-275038461))...

Thanks for the help either way!

[2017-02-16 12:37] RWOverdijk commented on #320
Great news! Thanks for the update. Appreciate it!

[2017-02-16 13:06] suamikim commented on #320
After a little more fiddling, I was now able to reproduce the above mentioned exception which actually had nothing to do with the config itself.

I'm using 2 different app shells for authentication & the main app and tried to set the correct shell on app start based on whether the user is already authenticated or not. I've tried to do this with the following code in `app.ts`:

[code]

What actuall

[2017-02-16 20:44] ne0guille commented on #326
closing this as #259

[2017-02-16 20:44] #326 closed

[2017-02-17 08:43] RWOverdijk commented on #320
I should mention that isAuthenticated is async. If it needs to refresh tokens for instance, the result will always be false. Best is to wrap it in a callback.

Another thing to note, is that you can use aurelia-config for this. You can find an example of the config here: https://github.com/SpoonX/swan-example-client/blob/master/src/scripts/main.js#L21,L30

aurelia-config allows you to easily confi

[2017-02-17 09:26] suamikim commented on #320
Thanks for the additional info! I'll definitely have a look at `aurelia-config` and use the callback.
I just realized one more thing:

The `Token not found in response` exception is also thrown, when initializing the `AuthService` on a machine which already has some authentication information saved in the local storage which differs from the apps current configuration.

E.g. I've already had some

[2017-02-17 12:02] RWOverdijk commented on #320
@suamikim That's something that I've seen happen as well, but only in dev. It might be nice to validate that in some way. I agree.

[2017-02-19 07:00] jemhuntr opened #332 "Getting authentication error message from server response JSON"
(maybe) related - https://github.com/SpoonX/aurelia-api/issues/134

Hi!

So my server returns a JSON response message to authentication requests so I can identify what error specifically happened and display that in my view (user doesn't exist, password doesn't match, field empty, etc).

[code]

However, I can't access these response messages from my VM.

[code]

All I get is a generic "Token not

[2017-02-19 09:54] RWOverdijk commented on #332
@jemhuntr Hey, thanks for the question.

It's not related, no, but I've posted an answer on that issue again. :)

The "token not found" error you mention gets thrown when it, well, can't find the token on the response. (see [here](https://github.com/SpoonX/aurelia-authentication/blob/435e8b8898b6447b8d4b4ae49b6f18d0f42c777e/src/authentication.js#L224) and [here](https://github.com/SpoonX/aurelia-a

[2017-02-19 16:31] indfnzo commented on #332
@RWOverdijk Thanks much! I got my setup working by fixing the server, although a [console warning](https://github.com/aurelia/fetch-client/issues/79) keeps popping up.

From what I read, I would have to reconfigure the fetch-client which is being used by aurelia-api, which is in turn being used by aurelia-authentication. I tried directly modifying the config for my authentication endpoint on my au

[2017-02-19 19:08] RWOverdijk commented on #332
@jemhuntr I'm not sure I follow, what do you mean? I use this all the time and never get warnings.

[2017-02-19 23:55] jonathaneckman commented on #293
I took some time to look into this today. If the library exposed a method to construct the authorization url for a given provider, could we drop it in an iframe or just set the window.location.href? I tried this into my login component to test:

[code]

I reverse engineered this hack by walking from [authService.authenticate](https://github.com/SpoonX/aurelia-authentication/blob/master/src/authSer

[2017-02-20 09:28] RWOverdijk commented on #293
@SystemAcc0unt Thank you for your extensive comment, it's very clear. Well done :)

I have no experience with identity server, so unfortunately I don't think I can be of help here. Perhaps someone else can chime in?

[2017-02-24 03:12] indfnzo commented on #332
I'm guessing that the `rejectErrorResponses()` method on the [HttpClientConfiguration](http://aurelia.io/hub.html#/doc/api/aurelia/fetch-client/1.0.1/class/HttpClientConfiguration) is causing this issue.

Since my server is now sending a 401 (instead of a 2xx response) on failed logins, aurelia-fetch-client is rejecting the response messages on these calls.

I can't seem to figure out how to confi

[2017-02-24 03:14] indfnzo commented on #332
I'll try rebuilding my server from scratch.

[2017-02-24 05:53] delebash commented on #332
I am having a similar problem.

After calling authservice.login('invalid-credentials')

I get an error response:
[code]

It is my understanding that an error is thrown because the session token is missing which is correct, but I can't figure out how to access the actual json response object returned from my server.

Below is what is returned from `url:"https://api.test.com/api/v2/user/session"` th

[2017-02-24 06:26] delebash commented on #332
I got, just needed to call .json on the err object.  Thanks

[2017-02-27 12:23] RWOverdijk commented on #332
Awesome! Glad you got it.

[2017-03-01 12:04] reft commented on #332
@RWOverdijk Hey, I get a console error if I return a 401 Unauthorized, (everything is working tho). Anyway to suppress this error?

[2017-03-01 12:50] reft commented on #332
http://stackoverflow.com/questions/42532109/aurelia-auth-custom-response-message-console-error

[2017-03-01 13:33] RWOverdijk commented on #332
@reft The console error is for the developer to know _why_. What are you looking for?

[2017-03-01 18:56] reft commented on #332
@RWOverdijk  If I return a json result with a message and an empty token I get:

login failure: Error: Token not found in response

As I understand I get this error because I have not returned an invalid response message.. BUT.. Can I read my json message from the server here? I dont want to return a response message because that generates a console error.

[2017-03-01 19:49] reft commented on #332
Currently I have to put a generic message here:

        return this.authService.login(this.email, this.password)
            .then(response => {
                console.log("success logged " + response);
            })
            .catch(err => {
                ALERT('GENERIC MESSAGE');

                //err returns: "Token not found in response"
            });

"Token not found in response" m

[2017-03-02 05:02] indfnzo commented on #332
@reft you need to call `.json()` on the `err` object you're getting from `.catch()`. Try this:

[code]

Take note that for this to work, your authentication server has to respond with a non-success error code (401, for example).

Until now, there still is an ominous console warning I'm getting even if everything is working as expected in this setup. Tell me if you get that warning too: `Warning: a

[2017-03-02 05:48] delebash commented on #332
I also had a problem with .json as I was unfamiliar with the fetch api.  The .json is part of the new [fetch api](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API)   specifically the [body mixin](https://developer.mozilla.org/en-US/docs/Web/API/Body).  Also,  `Warning: a promise was rejected with a non-error: [object Response]`  this is a[ bluebird warning](https://github.com/petkaantono

[2017-03-02 06:19] delebash commented on #332
@jemhuntr
As you mentioned the `Warning: a promise was rejected with a non-error: [object Response]` seems to be a result of config.rejectErrorResponses() in the  [aurelia-fetch-client](http://aurelia.io/hub.html#/doc/article/aurelia/fetch-client/latest/http-services/2) under the Helpers section.  I can see how to disable it in aurelia-fetch-client but not in the spoonx aurelia-api.  Did you figur

[2017-03-02 09:01] RWOverdijk commented on #332
I think I see the problem. The reason it throws that error is because it can't find the token on the response. What we can do, perhaps, is add the server response to the error. Would that solve your issues?

If there's a token, it won't complain. But if the status code is a valid one, it will look for the token.

[2017-03-02 09:39] indfnzo commented on #332
I can live with simply ignoring the warning, assuming that won't show up in production.

Although being able to access the server response from the error object would be a great addition.

[2017-03-02 09:47] RWOverdijk commented on #332
@jemhuntr Awesome middle ground I'd say. Do you want to give a go at implementing this?

[2017-03-02 19:00] reft opened #333 "Auto Refresh token - Before access token expires?"
Can you use the auto refresh token feature to refresh before the access token is expired?

If the access token is still alive I know who that user is and I can restrict the WebAPI call to authorized users.
At the moment I have to allow anonymous users to refresh token. I also have to decode the token before I know who that user is.

[2017-03-03 08:14] RWOverdijk commented on #333
@reft You're supposed to send the token along in the request, so you can still verify who they are. The old token has an id, which is part of the refresh token to indicate a pair. For that reason you __should__ always send it along, and you __should__ always know the identity of the client.

[2017-03-03 11:41] reft commented on #333
@RWOverdijk  Right now I'm sending the current refresh token when I want to refresh the access_token, I don't use the expired access_token. Should I validate the expired access_token aswell? If I validate the expired access_token I get an "token has expired". What am I supposed to do with the old access_token? Should I compare the old access_token [JTI claim] with the current refresh token [JTI cl

[2017-03-03 11:45] reft commented on #333
Aha.. So this token id is generated automatically, (i dont set any id when I create a new token), when i create a JWT token and both the access_token and refresh_token share the same id? Is that the only thing i should compare with the two?

[2017-03-03 19:37] Bitfiddler opened #334 "Retreiving AuthService via IOC container causes exceptions"
I am trying to do something like this in my main.ts:

	import { Aurelia } from 'aurelia-framework';
	import { AuthService } from 'aurelia-authentication';
	import 'src/helpers/exceptionHelpers'
	import config from "./auth-config";

	export function configure(aurelia: Aurelia) {
		aurelia.use
			.standardConfiguration()
			.feature('src/resources')
			.developmentLogging()
			.plugin('aurelia-dialo

[2017-03-03 22:58] Bitfiddler opened #335 "Using auth filter for navigation results in undefined routes"
app.ts

	import { inject } from "aurelia-framework";
	import { AuthenticateStep } from 'aurelia-authentication';
	import { Router, RouterConfiguration } from "aurelia-router";
	import {Routing} from "./common/routing";

	@inject(Routing)
	export class App {
		routing: Routing;

		constructor(routing: Routing) {
			this.routing = routing;
		}

		configureRouter(config: RouterConfiguration, router:

[2017-03-03 23:22] indfnzo commented on #332
I'm a little busy with schoolwork, but I'll try to look at it over the weekend.

[2017-03-04 00:24] Bitfiddler commented on #335
turns out the reason I thought I needed to jump through all the above hoops is because there is a typo in the documentation.  When you are setting up your routes in your app.ts and app.html, you need to include parentheses in the authFilter.

In the docs it gives the example:
repeat.for="row of routing.router.navigation | authFilter: isAuthenticated  & signal: 'authentication-change'"

It should b

[2017-03-04 03:55] Bitfiddler opened #336 "Option to returnRoute"
Would it be possible to add an option to the login method where you could instruct the service to return to a page that it left because it needed a login?

So right now you can do:
this.routing.auth.login({
            username: this.userName,
            password: this.password,
            grant_type: "password"
        }, { headers: { 'Content-Type': 'application/x-www-form-urlencoded' } },

[2017-03-06 08:54] reft commented on #333
Also, should this id be hashed or encrypted in both access and refresh?

[2017-03-06 09:09] RWOverdijk commented on #333
It's the iat, you want to set the iat on the payload of the refresh token.

[2017-03-06 09:28] RWOverdijk commented on #336
That would be an awesome feature! Do you want to give it a go?

[2017-03-06 09:29] RWOverdijk commented on #335
@Bitfiddler Hey, thanks!

It's really simple to PR for the docs, would you like to submit one? If not, it's alright, I can do it.

[2017-03-06 09:33] RWOverdijk commented on #334
isAuthenticated is async. It doesn't find a token but might have found a refresh token. It's trying to get a new token. Could you check local storage if there's anything there?

[2017-03-06 09:46] #332 closed

[2017-03-06 11:46] reft commented on #333
@RWOverdijk iat = issued at, (datetime). Are you sure you didn't mean jti, (unique identifier)? Should I be comparing the two dates instead? :S Im using the same guid for the jti on both tokens. Should I be hashing them? Thanks again.

[2017-03-06 12:07] RWOverdijk commented on #333
@reft That's an option, too. In case you do't have that ID, you can use the iat. https://github.com/SpoonX/sails-hook-authorization/blob/master/api/services/AuthService.js#L218

That's fine, too. Whatever secret you wish to use so you can send them both in.

[2017-03-06 12:13] reft commented on #333
Ah perfect thanks

[2017-03-06 12:13] #333 closed

[2017-03-06 16:57] Bitfiddler commented on #335
I'm not to familiar with github, when I click on 'edit this page' it instructs me to fork the repo.  Off the top of your head do you know a resource that goes over the process of how you would go about editing the page?  If not I can look it up, or you can find the docs I was referring to at:
https://aurelia-authentication.spoonx.org/Quick%20start.html#

Under the header "Making the Aurelia Router

[2017-03-06 17:05] Bitfiddler commented on #336
Currently I have a lot going on so I won't be able to familiarize myself with the code base enough not to submit a hack.  Currently I got this to work by replacing the plugin's authenticateStep with my own:

	import { inject } from 'aurelia-dependency-injection';
	import { Redirect } from 'aurelia-router';
	import { AuthService } from "aurelia-authentication";
	import { StateStore } from "./StateS

[2017-03-07 01:57] indfnzo commented on #332
For anyone still having this issue, pull from the latest release and make sure your server returns a response code 200 along with the errors it generated.

[code]

[2017-03-07 14:58] nerdstrap opened #338 "Implement Multifactor Auth"
This is a request for documentation, a forked implementation, or a how to guide for adding multifactor authentication hooks into this plugin.

[2017-03-08 08:27] RWOverdijk commented on #338
@nerdstrap Multi factor authentication isn't part of this plugin, yet. But it would be cool.

I'd like to use this issue as a starting point for that.

As a first guess, I'd say use .login() and send along the secret to the server. In which case nothing has to change here.

[2017-03-08 08:49] RWOverdijk commented on #336
Awesome, that's pretty much it. Best to move this to the "after login" part of the code that currently does a fixed redirect to what's in the config. We could reuse that configuration key / part of the code to implement this.

Currently I'm working on the [wetland tutorial](https://wetland.spoonx.org/Tutorial/setting-up.html) which is taking up much of my time. After that I have to look into issue

[2017-03-08 08:51] RWOverdijk commented on #335
@Bitfiddler All the more reason for you to do it, could be educational :) It needs a fork because you don't have permissions to edit our repository (which is good, otherwise the world could just mess it up). After making the changes, it creates a PR that then can be merged by us (most likely me).

Or you can fork, clone, make a branch, edit, push, PR (the regular flow).

If you don't feel like lea

[2017-03-08 16:49] Bitfiddler commented on #335
Sure, I'll give it a try on the weekend.  Something I should know how to do by now anyway (just never got around to it)  ;-)

[2017-03-08 16:53] Bitfiddler commented on #336
Sure I'll give it a go this weekend, will be a good opportunity to make my first open source contribution ;-)

[2017-03-09 13:11] reft opened #339 "IsAuthenticated is always true even if token is invalid"
It seems that aurelia-authentication always assume that the LocalStorage token is valid if there is a key saved regardless of value?

If I manually modify the "aurelia_authentication" key in Local Storage and call auth.isAuthenticated I will always get back "true" even tho it's been tampered with and should return "false".

Can I validate the token on the clientside after logging in and receiving

[2017-03-09 13:16] RWOverdijk commented on #339
@reft If the token can be decoded client side, it should be valid. If you modify the token and a request fails, that's on the user. It's not possible to verify the token client side because you need the secret.

[2017-03-09 13:23] reft commented on #339
@RWOverdijk What if I use a middleware on the server to validate tokens in requests and then change the secretkey. Users logged in with the old secretkey will ofcourse be invalid and no longer authenticated serverside, but how would they get to the loginpage = auth:false instead of the startpage = auth:true? The clientside will still think the user is logged in.

[2017-03-09 13:28] RWOverdijk commented on #339
@reft Well sure, if that's what you want to do go for it. :) But if you want to cater to people that change their own tokens in local storage... You're too kind to people that are messing around.

The next request made, if configured properly, will send the user to login. Let them fake being logged in to look at your client-side code, it's not a problem. If I can donload the code, I can see it. Th

[2017-03-09 13:38] reft commented on #339
@RWOverdijk I'm not sure I understand how to redirect the user to the login page if the clientside, (aurelia-authentication), still thinks the user is logged in.

It doesn't matter if I try to redirect the user from the server to the login page because I'm using aurelia-routing. My loginpage is only available for users that are not authenticated. My startpage is only available for users that are a

[2017-03-09 13:57] RWOverdijk commented on #339
@reft If a user makes a request to the server, **any api call**, your server will return that the token is invalid, and they will be redirected to login. That's an automatic process.

[code]

https://aurelia-authentication.spoonx.org/baseConfig.html

[2017-03-09 18:58] reft commented on #339
@RWOverdijk If I modify the local storage key so the token is no longer valid and refresh the page I get 401 (Unauthorized) from all my requests as expected, (MVC), but aurelia-authentication doesn't understand that the token is invalid? It doesn't remove the token, redirect to the login page, logout or anything.. :S Im still authenticated on the client side. The server is returning 401 so why doe

[2017-03-10 08:14] RWOverdijk commented on #339
Then don't change your local key.

But all joking aside, you can add your own interceptor for that. The current interceptor resolves when there's a 401, so you can catch that and simply check the response code. Every application handles these events differently and that's why it's not part of the default system. https://github.com/SpoonX/aurelia-authentication/blob/master/src/fetchClientConfig.js#

[2017-03-10 08:54] reft commented on #339
@RWOverdijk  Yes a new config option would be really nice :)

[2017-03-10 09:39] RWOverdijk commented on #339
@reft Great :) So you'll give it a go in a PR?

[2017-03-11 21:15] reft commented on #339
@RWOverdijk Im really swamped right now but it would be fun to do it in the future

[2017-03-13 09:52] RWOverdijk commented on #339
@reft We're currently swamped as well, so unless someone else tackles this I think you can give it a go later :)

[2017-03-15 12:25] THuffam opened #341 "How to get Auth0 working?"
I am trying to get Auth0 and aurelia-authentication working (I'm new to both).. but I cannot make head or tail of the document https://aurelia-authentication.spoonx.org/auth0.html

It is making a lot of assumptions and/or is missing a lot of information.

Is there a working example somewhere - that would explain it much better.
Thanks
Tim

[2017-03-16 09:08] RWOverdijk commented on #341
@THuffam I think it's difficult to understand because you're new to both. All you have to do is fill out the config options and use the provider as described on usage:

[code]

**Update:** Would you be so kind as to write down the steps you took to get it set up for me? We could really use a document describing the steps from someone who's completely new to this! It would help new users a lot.

[2017-03-17 01:31] alfkonee commented on #259
@All where's the solution for this I'm still facing the same situation here

[2017-03-17 11:34] ne0guille commented on #259
I'm using typescript, the fix depends on how you are exporting your config.
This did the trick for me with the default config.
//this is the baseConfig obj
export default config;

//main.ts
import * as authConfig from './authConfig';
    .plugin('aurelia-auth', (baseConfig: AureliaAuth.BaseConfig) => {
      baseConfig.configure(authConfig.default);
    })

[2017-03-17 14:23] InfoInterns opened #342 "LinkedIn Issue."
Hello guys,

we try to make an authentication to LinkedIn with this PlugIn. For this project we require a Authentication-Token from LinkedIn. So far we achieved to get the authorization-code, but thats it. We dont exactly know how to proceed with this Plugin, so we can exchange the code for the token.
We have already built the right Request-Url, which gives us the Token. We opened it in the browse

[2017-03-19 12:01] RWOverdijk commented on #342
@InfoInterns For the record, logs from gitter:

@InfoInterns https://github.com/doktordirk/aurelia-authentication-loopback-sample/tree/master/client/src
An example implementation with facebook and twitter I think
Example config for linkedin on this page: https://aurelia-authentication.spoonx.org/baseConfig.html

I'd like to add it to the FAQ

[2017-03-20 11:11] RWOverdijk commented on #327
I suggest we instead _change_ the behavior. If refresh tokens are enabled, we validate the token instead of changing it. That way each tab gets 1 event, instead of infinite events. Is that correct?

[2017-03-21 10:00] bondib commented on #327
Yes - good idea. This way we still keep the functionality of automatically logging out the user if in a different tab the user logged out.

BTW, this issue is critical as the browser completely freezes after an hour if you have more than one tab open on your site

[2017-03-21 10:02] RWOverdijk commented on #327
@bondib I understand, I was a bit occupied.

The earliest I can look at this implementation is this weekend, unless you're willing to amend your pull request? Then I can review, merge and publish it today.

[2017-03-21 13:00] InfoInterns commented on #342
@RWOverdijk
Hi there,
we solved our Problem with
            httpClient.configure(config => {
                config.withBaseUrl('https://api.linkedin.com/v1')

                    .withDefaults({
                        mode: 'no-cors',
                    })
We use Aurelia now to get the Authorization Code, send it to our Wildfly Servlet and get the Token, which is sent back to our Aurelia App w

[2017-03-21 13:00] #342 closed

[2017-03-23 14:02] bondib commented on #327
Hi @RWOverdijk . Please take a look at my pull request.
Seems to be working well.

[2017-03-23 14:02] RWOverdijk commented on #327
@bondib I did, and I already commented on it 12 minutes ago :)

[2017-03-23 14:06] RWOverdijk commented on #327
Published in 3.4.1! :)

[2017-03-23 14:06] #327 closed

[2017-03-23 14:09] bondib commented on #327
Cool, thanks!

[2017-03-30 05:39] tneway opened #345 "login method promise call always return null"
It seems like this method return http 200 and I see the token object in the chrome dev tab but never get to the success instead error is display.   Would you please someone help on this?

[code]

[2017-03-30 09:28] RWOverdijk commented on #345
Could you supply more information?

What response does your server send back? As in, the body. Does it contain the access_token?

[2017-03-30 16:00] tneway commented on #345
yes, here is the response
![capture](https://cloud.githubusercontent.com/assets/22864517/24513871/fb3efae0-1537-11e7-9cea-503ea8bfae41.PNG)

[2017-04-03 09:01] RWOverdijk commented on #345
And login doesn't work? That's odd. What happens when you try this without the custom headers etc? (just as a test)

[2017-04-03 09:06] RWOverdijk opened #346 "Multiple tabs cause error"
https://github.com/SpoonX/aurelia-authentication/pull/344

[2017-04-03 17:35] tneway commented on #345
I got http 400 error with out a header

[2017-04-03 18:28] RWOverdijk commented on #345
What kind of server are you using?

[2017-04-03 18:31] tneway commented on #345
the back end is asp.net web api 2

[2017-04-03 18:33] RWOverdijk commented on #345
I can't believe I didn't ask this earlier, but what is the error you're getting?

[2017-04-03 18:37] tneway commented on #345
I already describe it in the comment above as you see in the post the token object is return from the server but the code on success (. then) never run but  alert(JSON.stringify(err)+"err");  see above

[2017-04-03 18:39] RWOverdijk commented on #345
@tneway Yes, but what's the output of `alert(JSON.stringify(err)+"err");`?

[2017-04-03 18:40] tneway commented on #345
nothing(not valid error displayed )... in the example above it display string 'err'

[2017-04-03 18:56] RWOverdijk commented on #345
And if you don't stringify it? Just log err? There has to be an error of some sort

[2017-04-03 18:59] tneway commented on #345
I did that and didn't see any thing

[2017-04-03 19:07] RWOverdijk commented on #345
Okay I'm genuinely curious now. Is there an easy way for me to reproduce this? I have no asp.net experience.

[2017-04-03 19:10] tneway commented on #345
the client side is just Aurelia Js, with node and webpack... I just configure the server to access the token from the webapi as you see the server return the data but some what the client promise is empty or return some invalid value

[2017-04-03 19:12] RWOverdijk commented on #345
Yeah but of all the users that use this, this is the first time I see anyone complain about this behavior. I even have a functional example online (swan-example). So something in your setup is doing this, and I need to be able to reproduce it to find the issue.

[2017-04-03 19:16] tneway commented on #345
the weird part is if I use the fetch client this.http.fetch(....) I can access the success result

[2017-04-03 19:33] tneway commented on #345
but the same set up works  for signup(...) method so I am not really sure. but if you want to produce it get a free version of visual studio and just create web api from default template with individual account. You will do it in 5min and call that service from Aurelia webapp

[2017-04-04 09:52] RWOverdijk commented on #345
@tneway I'll give it a go once I have more time. In the meantime, could you check what happens here: https://github.com/SpoonX/aurelia-authentication/blob/master/src/authService.js#L468 see if you get in the where, and if not in the catch.

And maybe more importantly check here: https://github.com/SpoonX/aurelia-api/blob/master/src/rest.js#L80

This is the place most likely responsible for this be

[2017-04-09 19:46] larserikfinholt commented on #314
Hmmm... did you figure this out. Calling getMe()  on the AuthService does not call a 'me' endpoint at Auth0 (it calls my server). Do we need find the lock object and use that to get profile info, or are there maybe some config I've missed.

[2017-04-10 10:47] RWOverdijk commented on #314
@larserikfinholt /me is for the server, yes. Otherwise you can use `.getTokenPayload()` https://aurelia-authentication.spoonx.org/api_authService.html

[2017-04-11 19:57] nerdstrap commented on #338
we are issuing a basic claim JWT after UID/password to initiate a challenge. once the challenge is successful, we issue a full claim JWT. we use setResponseObject to take advantage of this plugin from there on out...

[2017-04-12 07:47] RWOverdijk commented on #338
Interesting approach. Do you have some resources? It would be nice to create a recipe in the cookbook that helps you set up mfa

[2017-04-12 14:36] nerdstrap commented on #338
we have OpenLDAP and RSA Adaptive Authentication running in our network. the MFA pieces are all custom RSA SecurID and Authentify service integrations. I wrote a simple C# web api to manage all of the orchestration of those service calls... it's still a work in progress

[2017-04-13 15:52] RWOverdijk commented on #338
Hm... Keep me posted on the progress, if you want. I'm curious.

[2017-04-18 12:45] Kukks opened #347 "Global Resources should be wrapped in PLATFORM.moduleName"
The new webpack skeleton breaks when using aurelia-authentication with the following error:

[code]

[2017-04-18 13:06] Kukks commented on #347
A workaround till the platform.modulename is added in the src is to add
[code]
to the webpack config

[2017-04-18 13:19] RWOverdijk commented on #347
@Kukks Could you PR a fix?

[2017-04-18 13:25] Thanood commented on #347
Hi.. Since I had a similar problem a few days ago I thought I'd chime in and say that this probably won't work for webpack:

[code]
https://github.com/SpoonX/aurelia-authentication/blob/master/src/aurelia-authentication.js#L37-L40

It's because webpack analyzes `PLATFORM-moduleName()` at build time. At that time the string interpolation is not available.
I've had something similar, using `[].map(r

[2017-04-18 13:26] RWOverdijk commented on #347
Yeah, I really don't like webpack. But a lot of people seem to like it so I'm okay with making it work more verbose like we did for [aurelia-form](https://github.com/SpoonX/aurelia-form/blob/master/package.json#L87,L130)

[2017-04-18 14:12] Thanood commented on #347
Build resources are not used anymore in  webpack-plugin v2..

[2017-04-18 22:35] Kukks commented on #347
So I guess the change would have to be replacing the dynamic global resources to a explicitly typed platform.moduleName wrapped one..
 or else we can leave it as is and add the modulename function calls at the end just so it triggers the loader's tracing?

I switched from JSPM to CLI to Webpack in just a year and a half...why can't there just be one dead simple loader that scratches the itch? :(

[2017-04-19 06:58] RWOverdijk commented on #347
@Kukks :+1: I still use jspm with no issues. My laptop is quite powerful so it's not slow for me. But I get that others might have an issue with it.

Anyway, I'm not sure then. @Thanood You seem to know how this works, mind sharing some info on this?

[2017-04-19 07:38] Thanood commented on #347
My experience is limited, tbh. 😃
In my own project, I can't seem to load everything correctly, yet.

My knowledge mostly comes from this comment: https://github.com/aurelia/webpack-plugin/issues/107#issuecomment-293878340
There are several possible approaches, each with its own drawbacks.

@Kukks seems to be correct when he says:

`globalValueConverters` seems to be a [static array](https://github

[2017-04-19 20:22] Kukks commented on #347
@Thanood @RWOverdijk  Ok will be giving it a go soon then! I think I've managed to figure out how the platform.modulename works after spending a few days converting my work project to the new webpack ts skeleton. It does have some really nice benefits with how simple code splitting with webpack chunks was made!
You'll be looking at https://github.com/aurelia/webpack-plugin/wiki for quite a while t

[2017-04-20 07:11] RWOverdijk commented on #347
Oh thanks for all the info guys, much appreciated. I'll make sure to read the wiki in the train soon :)

[2017-04-28 09:02] AdamWillden commented on #327
@RWOverdijk I'm running 3.4.1

Normally this issue appears to be fine but just a moment ago the browser (internet explorer) was hammering the CPU however I've not managed to replicate it again. I had two tabs open, closed the other tab but the CPU was still maxed.

IE's profiler showed me that it was hammering `this.updateAuthenticated()` which is called in `storageEventHandler = (event: StorageEv

[2017-04-28 09:03] AdamWillden commented on #327
FWIW we're not using refresh tokens.

[2017-05-01 06:55] RWOverdijk commented on #327
@AdamWillden The `autoUpdateToken` option doesn't work for you?

[2017-05-10 03:24] vincentw56 opened #350 "'Content-Type': "application/x-www-form-urlencoded" not being sent over through API"
Looks like the headers might not be transmitted properly. Using the code below, it should send over the "content-type", but it isn't working. It use to work fine, but it doesn't work with the newest version. This causes issues with the refresh token and authentication.

[code]

[2017-05-10 07:22] RWOverdijk commented on #350
@vincentw56 Are you sure this worked before?

I know we did some automation regarding content type, so that's probably where it's off.

[2017-05-10 14:51] vincentw56 commented on #350
Well, I never had to send over the content type when doing the authentication so I am pretty sure it worked before. I know have to set the headers like this:

```this.authService.login(creds, { headers: { 'Content-Type': "application/x-www-form-urlencoded" } })```

I never had to do that before. And it looks like the refresh tokens don't work anymore and they use to work fine. Is there another way

[2017-05-10 14:58] jamesond commented on #350
I can confirm it worked before.

[2017-05-10 17:11] jamesond commented on #350
This looks like it was changed after 3.4.1. Thank you Wesley.

[2017-05-11 18:26] vincentw56 commented on #350
There is a new config entry that has replaced this. In the config, you would add this:

```defaultHeadersForTokenRequests: { 'Content-Type': "application/x-www-form-urlencoded" }```

That will send over any default header information with auth and refresh token requests.

[2017-05-11 18:26] #350 closed

[2017-05-20 22:13] reft opened #351 "User should be redirect to 'loginRedirect' if revisiting page when refresh token is valid and access is expired"
Access token exp - 1 hour
Refresh token exp - 8 hour

If a user login and leaves the page and then come back after two hours, the refresh token will be valid and retrieve a new access and refresh token but never redirect from log-in page to 'logInRedirect' page.

Currently the user stays on the log-in page after a successfull refresh of access and refresh token.

Feel free to make a pull request i

[2017-05-20 22:16] reft commented on #339
Some more info - When manually changing the refresh token in local storage, aurelia auth gives:  _this8.authentication.updateAuthenticated is not a function

[2017-05-20 22:19] reft opened #352 "Implement handling for using 'auth: false' in your app.js router"
Would be neat if the user is redirected to 'logInRedirect' page if authenticated and trying to go to the log-in page which has auth: false' in app.js router config.

Currently you can go to auth:false pages when you're authenticated.

[2017-05-20 22:20] reft commented on #352
Same with 'auth: true'.. User should be redirect to the log-in page if not authenticated and trying to reach 'auth:true' pages.

Now i just thinks it gives a console error.

[2017-05-20 22:33] reft opened #353 "Should not call GetMe() if expired access & refresh OR expired acces/not expired refresh"
Scenario 1:

User logs in and then leaves the page. When both the access and refresh token is expired user again visits the page. By now the access and refresh token is expired and he no longer is authenticated, however the user still has tokens in local storage. Because of this, aurelia auth tries to call GetMe() when it shouldn't, (action can only be called by authenticated users and therefore r

[2017-05-22 06:07] RWOverdijk commented on #353
@reft You're right. I've noticed this, too. Thank you for identifying the issue. 👍

[2017-05-22 06:08] RWOverdijk commented on #352
@reft It would be neat. But do you think that should be dictated by this plugin? Maybe it's wisest to implement that yourself with a step or something.

[2017-05-22 06:11] RWOverdijk commented on #351
I think this is in line with another issue you created. Once the token is valid, I don't think this plugin should be responsible for redirecting you anywhere, unless it's a specific action.

It can be added, as an entirely opt-in feature though, if you're up for it.

[2017-05-22 06:15] RWOverdijk commented on #347
I think we can just wrap the plugins with `PLATFORM.moduleName`. Webpack understand this, and I don't think other managers care.

[2017-05-25 09:21] RWOverdijk commented on #353
I haven't looked into this yet. I didn't forget, either.

[2017-05-25 09:23] RWOverdijk commented on #251
Closing this due to inactivity. If there's an answer you didn't get, feel free to open up a new issue.

[2017-05-25 09:23] #251 closed

[2017-05-25 09:23] #104 closed

[2017-05-25 09:23] #178 closed

[2017-05-25 09:23] #180 closed

[2017-05-25 09:23] #233 closed

[2017-05-25 09:23] #235 closed

[2017-05-25 09:23] #246 closed

[2017-05-25 09:24] #346 closed

[2017-05-25 09:25] #276 closed

[2017-05-25 09:25] RWOverdijk commented on #272
Closing this due to inactivity. If there's an answer you didn't get, feel free to open up a new issue.

[2017-05-25 09:25] #272 closed

[2017-05-25 09:26] RWOverdijk commented on #256
Closing this due to inactivity. If there's an answer you didn't get, feel free to open up a new issue.

[2017-05-25 09:26] #256 closed

[2017-05-25 09:27] RWOverdijk commented on #290
Closing this due to inactivity. If there's an answer you didn't get, feel free to open up a new issue.

[2017-05-25 09:27] #290 closed

[2017-05-25 09:27] #273 closed

[2017-05-25 09:28] RWOverdijk commented on #288
Closing this due to inactivity. If there's an answer you didn't get, feel free to open up a new issue.

[2017-05-25 09:28] #288 closed

[2017-05-28 10:59] reft commented on #351
@RWOverdijk
But how would you implement this?
How would you know if a user redirects back to your page with an expired access token/valid refresh token?
I somehow need to know when a user does that and then refresh/redirect the user to the authenticated startpage.
Even if I implement my own authentication step for auth:false pages, the user would still always be authenticated if the access token i

[2017-05-28 10:59] reft commented on #352
@RWOverdijk Okey I will try and implement my own auth:false step :)

[2017-05-28 11:51] RWOverdijk commented on #351
There is an expired check in the library. I'd probably use that. When expired, refresh, when that's also expired, redirect.

[2017-05-28 17:14] reft commented on #351
@RWOverdijk

I've added another step in my route config:

**Step:**
[code]

**App.js:**
`config.addPipelineStep(authorize, Anonymous);`

**Added step for specific route:**
`{ route: ['log-in', 'log-in'], name: 'log-in', moduleId: 'views/authentication/log-in/log-in', title: ${this.i18n.tr('app:Authentication')} - ${this.domain}, anonymous: true },`

It works great when already on the site and tryi

[2017-05-29 09:07] RWOverdijk commented on #351
That error means that the page it's being sent to threw an error, and restoring the previous route was also not possible (so it keeps bouncing back and forth, ten times).

I'd have to dig into your problem more to answer these questions; but it looks like the plugin needs some changes. I think it's simply a bug in the refresh logic. @alfkonee you're the super star that built this feature, could yo

[2017-05-30 09:02] emilast opened #354 "logoutOnInvalidtoken gives error if not logged in"
The recently added feature with a `logoutOnInvalidtoken` config setting is great but it gives an error if the `/auth/login` endpoint fails to authenticate the user because of invalid credentials and returns a 401. We then do an attempt to logout the user but since she is not logged in yet, we get an error:

[code]
I attempted to fix this by adding an extra `this.authService.authenticated` conditio

[2017-05-30 09:23] RWOverdijk commented on #354
That's perfectly reasonable. If someone isn't logged in, they shouldn't be logged out. However, if someone isn't logged in, they _should_ be redirected to the login page (if the current page is protected, that is)

[2017-05-30 09:52] emilast commented on #354
Yes, that's true and my suggested fix stops that from happening. Any idea how to accomplish that?

[2017-05-30 09:57] RWOverdijk commented on #354
@emilast What happens then? Does it just do nothing? You describe a situation where it doesn't attempt to logout, which is good. But it shouldn't do nothing. What does it do? What's the behavior now?

I can't look into this atm, that's why I'm asking all these questions.

[2017-05-30 10:10] emilast commented on #354
Well, with my fix I get a failed request to the resource that returns a 401, but I'm not redirected to the login dialog. Maybe it would be better to move the "authenticated" check to inside the `logout()` function and only do the redirect part of that function if the user is not logged in?

[2017-05-30 10:24] RWOverdijk commented on #354
I think that might be better. Thinking about it, doesn't the logout method also check if it _should_ redirect? If so, that's perfect because it then only redirects if the plugin was configured to do so.

[2017-05-30 10:42] emilast commented on #354
@RWOverdijk Hi again, I just rolled back my local changes and don't get exactly the same errors as before, now it's just a bunch of these:

[code]
Not sure what the difference is, so I'll have to dig into this a little more.

About the logic with redirection and other stuff in `logout()`, I have to confess I haven't grasped the full details about how it works. Redirection does work and I can live

[2017-05-30 10:49] RWOverdijk commented on #354
Ack 👍

[2017-05-30 14:14] emilast commented on #354
@RWOverdijk I have some more information now. I still have the problem (must have been a little bit confused earlier...).

The problem is this code (it's Typescript, not that it matters) that I use for showing my users the reason for failed login attempts:

[code]

This works well for `logoutOnInvalidtoken: false` but not when setting it to `true`. The reason is that `error` is not a Response anym

[2017-05-30 15:43] bennibeef commented on #317
Hmm, for me its not working. Might just be my mistake too but I don't know if I'm missing something.

I had an API call in a non-route but with it commented out it isn't working either. (don't know if this matters)
authconfig
[code]

And my API call is in route /#/tasks (constructor)

[code]

`GET http://localhost:3000/api/tasks 401 (Unauthorized)`
`Response {type: "cors", url: "http://localhost:3

[2017-05-31 06:56] RWOverdijk commented on #317
@bennibeef Did you configure the login redirect? https://aurelia-authentication.spoonx.org/baseConfig.html

[2017-05-31 06:59] RWOverdijk commented on #354
I agree, that behavior sounds wrong to me, too. But I also can't believe it's the reason to be honest, unless the server, on login, returns an invalid token. Or did I not understand what you're saying?

[2017-05-31 07:44] emilast commented on #354
The problem happens when attempting to *log in* using this sequence:

1. Collect credentials in my login form.
2. Call `this.authService.login(request)`
3. If the credentials are invalid (e.g. wrong password) the server replies with a 401
4. a. If `logoutOnInvalidtoken: false`: I get a rejected promise with a Response object that I can call `json()` on to the details.
b. If `logoutOnInvalidtoken:

[2017-05-31 07:56] RWOverdijk commented on #354
Gotcha! Sorry for not following, I've been a bit distracted.

So now that I follow, yes, you get here: https://github.com/SpoonX/aurelia-authentication/blob/d44b7aef87c04cebbfe673df1d1d341578fb7714/src/fetchClientConfig.js#L57

Maybe, what makes most sense, is at the top of that interceptor method:

[code]

You're not authenticated, and a request failed (otherwise the first conditional that checks

[2017-05-31 10:34] emilast commented on #354
Yes maybe. I tried with replacing line 57 (`return reject(this.authService.logout());`) with this:

[code]
and it seems to work. Your suggested fix will also take of my problem but it's hard for me (being new to this JWT stuff) to see if it would have any ill side effects on the other logic in that function.

Doing the authenticated check as far down as possible in the decision tree limits the ris

[2017-05-31 11:53] RWOverdijk commented on #354
@emilast It won't. If auth fails and there's no active identity, there's nothing to do for the interceptor. It'd have to be tested but I'm pretty sure that'll work. If you _are_ authenticated, it'll fail further down.

[2017-05-31 12:37] emilast commented on #354
Ok, sounds good then. How do we go forward? The change is minor and I could do a pull request with it, but I had some initial trouble setting up my Windows machine for running the tests. Should be possible if I spend some time on it, I guess. Also, I suppose we should write a test that verifies the fix?

Being unused to collaborating on open source projects, what's the process for pull requests? I

[2017-05-31 12:46] RWOverdijk commented on #354
@emilast that's correct :) And then I'll have someone look at it and test it more in-depth.

[2017-05-31 12:46] RWOverdijk commented on #354
@emilast that's correct :) And then I'll have someone look at it and test it more in-depth.

[2017-05-31 13:04] emilast commented on #354
Ok, I'll try then. Hopefully you can expect a PR in a day or two :-)

[2017-05-31 14:00] RWOverdijk commented on #354
Awesome! Looking forward to it. Thanks :)

[2017-06-02 17:38] reft commented on #351
@RWOverdijk @alfkonee Any update on this? I can't seem to find a solution for this

[2017-06-04 09:52] reft commented on #351
@RWOverdijk @alfkonee I've made a temporary solution for this in my app.js file.

[code]
[code]

[2017-06-06 15:33] RWOverdijk commented on #351
@reft I'm not sure if @alfkonee is going to answer. I'll take a better look at this soon. It feels like there's a bug.

[2017-06-07 06:35] reft commented on #352
made me own authentication step here: https://github.com/SpoonX/aurelia-authentication/issues/351

[2017-06-07 06:35] #352 closed

[2017-06-27 15:45] gregleon commented on #321
Any progress on this?

I've come up with something like this.
[code]
Basically we redirect user to expiredRedirect if

- ``` .catch(function (error) ``` happens which pretty much means no new token, or

- ```   _this11.setResponseObject(response);  if(!_this11.getAccessToken()) ``` meaning we can't find token in response.

Any thoughts?

[2017-06-27 19:04] RWOverdijk commented on #321
@gregleon That would probably be the best way to do it. Albeit not in the dist dir but in src, but I assume you knew that. If either of you is willing to PR this I'd be more than happy to merge it in. It would be a great addition; probably even a fix.

[2017-06-28 14:04] rikgarner commented on #345
Same problem here  - my .net web api returns a block of JSON with a token but the response from authService.login is null

[2017-06-28 14:47] rikgarner commented on #345
If I simulate the login code in my module I get the token back - i.e. if I post the credentials to the auth URL just using the httpClient, it works:
[code]
suggesting the authService,login method is swallowing the response somehow.

[2017-07-10 09:08] RWOverdijk commented on #354
@emilast Is this working for you? It's in the latest release which seems to be working fine for me.

[2017-07-10 09:09] RWOverdijk commented on #353
Okay now I _did_ forget.

I'm also a bit strapped on time so I have to ask you what priority this issue has for you, and if you're perhaps willing to PR a fix?

[2017-07-10 12:01] reft commented on #353
@RWOverdijk For me no rush, its just an "esthetic" bug, I would probably say that My other issue about users coming back with an expired access token / not expired refresh should have higher priority:) Also im currently on a looong holiday;)

[2017-07-10 22:42] pllamena opened #358 "defaultHeadersForTokenRequests not working for updateToken()"
Hello,

@groenlid - @RWOverdijk suggested I should pin you to this issue.

Setting the defaultHeadersForTokenRequests seems to work for the login() method, but not for updateToken(). All the parameters are missing from the updateToken request, which also happens for the initial token request made by login() if I remove the defaultHeadersForTokenRequests: {'Content-Type': 'application/x-www-form-ur

[2017-07-12 09:15] RWOverdijk commented on #358
I've slightly changed your description (removed some typos and made the code snippet prettier).

@groenlid you worked on this, correct? Do you have any input on this issue? :)

[2017-07-12 09:15] RWOverdijk commented on #353
@reft What issue is that?

Enjoy your looong holiday! :)

[2017-07-14 18:59] reft commented on #353
@RWOverdijk https://github.com/SpoonX/aurelia-authentication/issues/351

[2017-07-15 14:29] pllamena commented on #358
Thank you, @RWOverdijk!

I have been trying to find a work around this week, but I haven't got anywhere with it yet.

Any input will be much appreciated! :)

Thank you again!

[2017-07-20 08:40] RWOverdijk commented on #358
I think @groenlid is mia. I'll pin this to my own inbox and see if I can find time to tackle this.

[2017-07-20 09:26] RWOverdijk commented on #351
@reft That looks like a decent solution. Was there a reason we didn't PR this into the codebase?

[2017-07-20 17:10] reft commented on #351
@RWOverdijk I was using an old version when I came up with this so I'm not sure that this code works anymore.

I didn't like the dirty checking for the isAuthenticated() function. First I tried using only the 'authentication-change' event instead of the dirty checking but it didn't work 100% because of the: coming back with an invalid access/valid refresh so I then scrapped that aswell.

What I'm

[2017-07-21 20:30] emilast commented on #354
Sorry for the delay (I'm on summer vacation) but I have tested this now and it works correctly in 3.7.0. 👍

[2017-07-21 20:30] #354 closed

[2017-07-22 11:58] RWOverdijk commented on #351
I also do a hard refresh, but mainly to trigger the browser's "remember password" feature. I think that's why I didn't really notice it.

I'll have to make the dashboard I'm building public soon, so this will have to be fixed by then. I'll pin it.

[2017-07-22 15:05] pllamena commented on #358
Thank you @RWOverdijk !

[2017-07-22 15:34] RWOverdijk commented on #358
If you find the solution in the meantime, that'd be even better obviously :D

[2017-07-26 17:48] reft commented on #351
@RWOverdijk How is your hard refresh implemented? You've seen mine, I bet yours is cleaner. I've tried using storageChangedReload: 1 in config but it doesn't hard refresh, (never f5s)

[2017-07-28 07:32] RWOverdijk commented on #351
@reft ~~Oh, I mean, hard page reload. Login, when done reload. Logout, when done reload. Exception from recovery (expired token) hard reload.~~

~~But that's not clean, that's avoiding the writing of a fix. If you could see my Trello board you'd understand why haha.~~

~~I know that currently when the token expires, nothing happens. It just sits there.~~

_Actually re-reads issue_

Oh... I think I

[2017-08-01 23:11] pllamena commented on #358
Hi @RWOverdijk,

Good news - defaultHeadersForTokenRequests works!  Since the token endpoint was working outside the Aurelia App & removing defaultHeadersForTokenRequests broke the initial login (which was only due the default format being JSON), I had assumed it was the front end that was causing the error.  Turned out I had to make adjustments in the token generation for it to accept requests fr

[2017-08-01 23:11] #358 closed

[2017-08-02 07:36] RWOverdijk commented on #358
Oh I'm glad you solved it :)

[2017-08-06 19:43] ghiscoding commented on #347
Hello, I'm reading this issue which is also a problem that I have and I'm unsure of what the fix or patch is to do, in order to get pass this error thrown in the console. I'm using the latest `skeleton-typescript-webpack`, what do I need to change in order to get over this open issue?

[2017-08-09 08:45] RWOverdijk commented on #347
@ghiscoding all occurrences of .plugin need to be wrapped in `PLATFORM.moduleName`

So, `.plugin('aurelia-orm')` becomes `.plugin(PLATFORM.moduleName('aurelia-orm'))`

But that's just because webpack sucks. Other packagers work fine. This would mean PRing the plugins that use this. It's an easy, BC fix.

[2017-08-09 13:19] ghiscoding commented on #347
@RWOverdijk thanks I already know about the `PLATFORM` thing. However I'd like to know, is this something to change in your plugin source code or is it in strictly our code? I'm assuming it's a change in your plugin source code since I already had the `PLATFORM` wrapper and still had the error thrown, so is that correct?

[2017-08-09 13:23] RWOverdijk commented on #347
@ghiscoding That is correct, yes. I know that aurelia-config needs this. Here, [this comment](https://github.com/SpoonX/aurelia-authentication/issues/347#issuecomment-295141642) might explain it better

[2017-09-01 02:38] chdev77 commented on #293
Is there any updates on this?  Can AuthService.authenticate(...) just direct the logon to the openId server's login instead of a popup?

[2017-09-01 14:31] shawty commented on #347
Hi SO Microsoft have used web pack in all their current Visual Studio 2017 SPA templates including the Aurelia one, and I now find that I'm getting hit by not finding the other modules in au-auth.

I tried adding the work around mentioned above to my webpack config and it just gave me build errors.

How do I fix this?

I'm knee deep in the middle of a new app and I can't go back and change now, an

[2017-09-01 14:47] RWOverdijk commented on #347
@shawty It's a difficult question to answer. I think the main problem is around the way webpack works with plugin names. It's a giant pita for me because I don't use it.

I could figure it out and solve it but I'm knee-deep in paid projects myself. The next project I get where someone needs me to use webpack I'll solve this, but so far nobody has requested this from me.

Maybe you can take a look?

[2017-09-01 14:54] ghiscoding commented on #347
@shawty I believe that we are waiting for a fix in the `aurelia-authentication` files, a few files in the library have to be wrap with the new `PLATFORM.moduleName()` as @RWOverdijk was describing

So, .plugin('aurelia-orm') becomes .plugin(PLATFORM.moduleName('aurelia-orm'))
But that's just because webpack sucks. Other packagers work fine. This would mean PRing the plugins that use this. It's an

[2017-09-01 14:57] RWOverdijk commented on #347
@ghiscoding Why wait? If people need it, why not add it? That's why it's open source. :)

[2017-09-01 15:18] ghiscoding commented on #347
@RWOverdijk yeah I know, sorry about that but I am also not a WebPack guru, I would rather leave this to people with more knowledge in touching/fixing your library. I could give it a try, but I'm too scared in affecting other users, unless you have plenty of unit testing in place?

EDIT
I also have to admit that it was my first attempt at using your library, it's a bit different compare to `aureli

[2017-09-01 22:33] shawty commented on #347
thanks for replying guys, I'm not what I would call a webpack guru either, infact, I'm the type of "I know it's there and it does stuff for me" person when it comes to WP.

Problem is, as I said, MS with all their latest SPA templates for DotNet core have started to use it, not just the Aurelia ones, but Angular, React etc too, couple that with the fact that Rob Eisenberg is back working at MS now

[2017-09-01 23:52] ghiscoding commented on #347
@shawty that totally make sense and is the same patch that got me going with `aurelia-auth`. The only difference is really the name of the plugin to wrap (in `aurelia-auth` the plugin is called `aurelia-auth/auth-filter` while in `aurelia-authentication` it's `aurelia-authentication/authFilterValueConverter`) that totally make sense.

Thanks for that, I'll probably give a try with `aurelia-authent

[2017-09-02 10:37] shawty commented on #347
Well I'm no aurelia expert (Although Iv'e been told I am :-) ) but maybe the solution to all of this is to find if there is some hook point in the main authentication library, that can be used to "pre-register" these deps.

Maybe something like:

if(webpack detected)
{
  pre-register stuff
}
else
{
  dont pre register stuff
}

...
attempt to use stuff
...

To me that seems as if it would then allo

[2017-09-03 10:04] RWOverdijk commented on #347
@shawty I've taken the liberty to edit your comment so the syntax highlighting works.

I know I haven't been the most active maintainer as of late, but that's because I no longer work with Aurelia full time. I can maintain efficiently, just the coding parts are slower :)

If a fix as simple as that works, then great! Aurelia-config uses .plugin(), so that should probably be changed. It uses dynami

[2017-09-03 11:49] jods4 commented on #347
I have no read everything so I don't know if it's a good solution but for your information:

if you want conditional code based whether the new wepback plugin is used or not, you can check if the global variable `AURELIA_WEBPACK_2_0` is defined.

Example in Aurelia framework itself:
`https://github.com/aurelia/bootstrapper/blob/c781a80515d35c9ab2f571138fe916d2bfe47d1f/dist/aurelia-bootstrapper.js#

[2017-09-03 13:01] shawty commented on #347
@jods4 It's probably worth looking at, I may take a peek if I get 5 minutes.

However, we want to keep the check in the output, we don't want WP removing it (At least I don't think anyway) as we need it to remain independent and have a branch for WP and a branch for non WP, which is active at run time, either that or I'm not understanding how WP works.

[2017-09-03 13:02] shawty commented on #347
@RWOverdijk no worries, edit away :-)  and yes I understand where your coming from, that was why I left Knockout Behind......

[2017-09-03 14:06] ghiscoding commented on #347
@shawty I think what @jods4 means is that you can use that global variable to check if WebPack is used, and if it is then wrap the code with the usual `PLATFORM.moduleName()` else no wrapper needed. That is to be used in the core code of `Aurelia-Authentication`.

[2017-09-03 15:55] shawty commented on #347
Ah...... :-)

[2017-09-03 16:07] jods4 commented on #347
My comment was in response to https://github.com/SpoonX/aurelia-authentication/issues/347#issuecomment-326736224 where there's pseudo-code `if (webpack detected)`.

It's just how you can easily and efficiently implement the `if (webpack)` part.

@ghiscoding
I am not sure why you would wrap with `moduleName` code when calling webpack and otherwise not.
`moduleName` is an Aurelia-specific solution t

[2017-09-04 09:22] shawty commented on #347
Hi all,

Ok so I had a fiddle with things over the weekend, I kind of made some things work, and I think, there is a possibility I MIGHT be able to do something, it's not going to happen for a little while yet however, as I have things working for now in a way they are needed, and since I'm already on a tight deadline that has to be my priority.

However, in the spirit of code sharing, I need to i

[2017-09-04 09:25] shawty commented on #347
PS: If you wanna find me, just search lidnug on Linked-in, or got to lidnug.org , I help run the user group, so I can generally be found floating around somewhere near by.

[2017-09-04 09:27] RWOverdijk commented on #347
@shawty feel free to join us on Gitter, too. https://gitter.im/SpoonX/Dev

Also updated your comment again :D For future reference:

\`\`\`js
// Code here
\`\`\`

[code]

[2017-09-04 09:49] shawty commented on #347
Yea, I keep hitting the "Add Code" button in the editor then pasting my code in where it places the cursor, so Iv'e no idea why it keeps ending up getting crapped up :-)

But yea, edit away... it's all good.

Oh and feel free to add that step to the main aurelia-authentication lib if you wish.

I may come say hello on gitter.  I do occasionally pop into the aurelia/validation channel, as I was in

[2017-09-12 16:56] chdev77 opened #360 "OpenId authService.authenticate(...) does not show popup on Safari, Mac and IPhone"
Any hints on this?  My implementation works on PC Chrome and later Android devices.  Cannot get Safari working.

[2017-09-14 08:54] RWOverdijk commented on #360
What version of safari is this? Maybe it's blocking the popup

[2017-09-16 02:04] chdev77 commented on #360
Yes it's blocking.  We tested from iPhone 5 and up. Nothing working.

On Sep 14, 2017 3:54 AM, "Wesley Overdijk" <notifications@github.com> wrote:

[2017-09-18 09:33] RWOverdijk commented on #360
I'm pretty confident this is something in your code.

Is the open a direct result of a user action?

You can find some common causes here: https://stackoverflow.com/questions/16559115/fb-login-popup-block

[2017-09-22 08:51] dabide commented on #341
The documentation says the following:

I am using webpack, and had to do the following:

* In `main.js`, I added `import Auth0Lock from "auth0-lock";`
* Additionally, in the `configure` method, I had to add `PLATFORM.global.Auth0Lock = Auth0Lock;`

Is this normal, or am I overlooking something obvious?

[2017-09-22 09:13] RWOverdijk commented on #341
That might be because of the way resources in the webpack config work. I'm not sure, I don't use webpack myself. Perhaps it can be solved using the config?

[2017-09-22 11:29] dabide commented on #341
Could be. Anyway, that part seems to work. How is the callback URL handled? Do I need to create a handler for that myself?

[2017-09-22 12:28] RWOverdijk commented on #341
I think that's in the docs?

[2017-09-22 12:41] dabide commented on #341
I couldn't find it, but I might be blind on both eyes. :-)

[2017-09-27 08:16] dabide commented on #341
@RWOverdijk, as far as I can see, the callback stuff isn't documented. Should it be handled by an Aurelia route?

[2017-09-27 08:19] RWOverdijk commented on #341
@dabide I don't know to be honest. I've never used this part of the plugin. But it seems to me that you don't have to handle a thing, and you just use authenticate. Maybe someone on [gitter](https://gitter.im/SpoonX/Devhttps://gitter.im/SpoonX/Dev) has the answer

[2017-10-09 08:43] norgie opened #361 "Feature request: Implement support for OpenId's Discovery endpoint"
The OpenId specification mandates(?) a so-called discovery endpoint. Quoting from an article at leastprivilege.com (https://leastprivilege.com/2017/01/06/bootstrapping-openid-connect-discovery/):

"The idea is simple, every OpenID Connect provider should offer a a JSON document under the **/.well-known/openid-configuration** URL below its base-address (often also called the authority). This docume

[2017-10-13 05:43] zeko77 opened #362 "Feature request : role based authorization"
Role based authorization seems like a cool feature and natural extension of this already excellent plugin.
1. **Authentication** is ensuring who you are
2. **Authorization** is what you can do

Currently, authorization is an obsolete version of authentication.
Maybe you could implement authorization as an optional pipeline step  that would check if user is in any of requested roles for the route.

[2017-10-13 07:08] RWOverdijk commented on #362
Something like this? https://github.com/SpoonX/aurelia-acl

[2017-10-13 07:22] zeko77 commented on #362
Indeed. Seems like elegant solution. I can see that you are working on docs section, but i'll try to figure internals out from source. Great work.

[2017-10-13 08:08] RWOverdijk commented on #362
@zeko77 Yeah it's quite old but it just worked so it never got changed.

[2017-10-17 16:54] shawty commented on #362
Actually, I meant to write a message on this previously in here, but it completely slipped my mind :-)

In the app I'm currently working on, we send the roles back in a JWT (Roles user data section), all I then do is add my "RoleStep" to the router config immediately after the auth step from the auth main lib.

[code]

then later on:
[code]
The role step roles are contained in the router data as f

[2017-10-17 17:02] shawty opened #363 "Clarification on how refresh works"
Hi Guys,

Not a bug report, but this is the only way I know to get a message in here :-)

In the app I'm currently working on, Iv'e been asked to implement the auth token in a sliding door fashion.

When the user first logs in, the JWT coming back has a default expiry time of 30 minutes after the log in occurred.

Every time there is a call tot he API back end, the expiry time stored against the u

[2017-10-18 11:08] RWOverdijk commented on #363
It's odd that get a new token with every response. But no, the way it works is that it fetches a new token when the current one expires. There's more on that in the docs I believe. If not, it would be nice to write a better "theory" on it.

[2017-10-18 11:48] shawty commented on #363
That's why I was asking, the docs don't really delve into the process flows very much.

They mention refresh tokens, and show some basic config, followed by an NodeJs express handler to process the request coming back.

That's pretty good if your using node and just want to copy/paste it, but I'm using DotNetCore, and there will be others using other languages too, so  maybe some flow descriptions

[2017-10-18 13:37] shawty commented on #363
So trying to work through the info on the refresh tokens page, my auth config is set up like so.

[code]

And with the auto update and refresh options turned on, aurelia auth just doesn't seem to do anything.

Iv'e been reading through the source code, and looking at it, there are exceptions to be thrown, if for example you enable useRefresh but don't send a refresh token back.

I tried this, not

[2017-10-19 07:15] RWOverdijk commented on #363
Could you reformat your code snippets? It's simple to do:

\`\`\`js
// code here
\`\`\`

Giving you:

[code]

As to your question, are you sure it's expiring? Did you check localstorage to see if your refresh token is there?

[2017-10-19 09:18] shawty commented on #363
Ahh, so that's how you do code comments... :-)   For the record, the editor helps you mess them up.

Anyway.

Yes, My Token absolutely is definitely expiring.

but as I noted, there's more to it than that.

The source for auth, clearly has a check in it, so that if you attempt to use refresh tokens, but do not supply a refresh token, it should throw an exception and tell you that you did not suppl

[2017-10-20 06:20] RWOverdijk commented on #363
@shawty I'm pretty sure this works, it's being used in production successfully. I currently don't have a ton of time to look, but what I can do is share my config:

[code]

[2017-10-20 09:09] shawty commented on #363
Ok, I'll go back and take another look.

[2017-11-07 07:40] louislewis2 opened #366 "Popup Not Working As Expected"
Hi,

We recently found an issue with the way in which the popup determines when to close.
Using Windows Server, IIS and virtual directories. The server hosts more than 1 deployed solution.
virtual directories are used to partition deployed instances.

The server side might reside at: localhost/web1/
The client might reside at: localhost/ui1/

The virtual directory wont be part of the host string a

[2017-11-07 10:21] RWOverdijk commented on #366
@louislewis2 Thank you for your extensive description. It sounds to me that your current solution is very much an edge-case caused by an irregular setup that we haven't recognized in our solution. I'm sorry to read that you're having problems matching those to this plugin and would love for it to work for you.

If you can provide a BC fix, I'd be more than willing to accept a PR. Sounds like a nic

[2017-11-07 10:26] Lee-Nover opened #367 "Allow handling of non-expired tokens when server returns 401"
https://github.com/SpoonX/aurelia-authentication/blob/0f80003a1194fcec5aa595af4a05e80035b5499c/src/fetchClientConfig.js#L64

If the server returns a 401, it shouldn't matter if the token is expired or not; the server doesn't allow the token anymore so we should refresh.
Should be ok to just remove the check for token expiration in this line, like so:
[code]

[2017-11-07 11:58] louislewis2 commented on #366
@RWOverdijk Thanks for the reply. Okay I have forked and cloned and started going through the source.
The primary change is in popper.js, because there is more than 1 way to implement this, I think it would be wise to discuss some options here first.

Based on my first pass through the source i came up with the following idea.
within Popup.js

To the open method. Add another optional parameter cal

[2017-11-09 15:20] RWOverdijk commented on #366
I think it's a pretty big change for such a problem. Wouldn't it simply be enough to match the auth path instead? Listen for host?

[2017-11-09 15:23] RWOverdijk commented on #367
I don't think that has to be true. It could be that we don't have access to the resource and the server utilizes a wrong status code. Regardless, this wouldn't affect your flow and eventually give you what you expect.

Or am I missing something here?

[2017-12-06 14:24] jmdavid opened #369 "Extend error with Typescript"
I followed the instructions but as soon as I add this:
`.plugin('aurelia-authentication', baseConfig => {
      baseConfig.configure(authConfig);
  });`
I get "TypeError: extend_1.default is not a function".

Thanks for help.

[2017-12-06 14:29] jmdavid commented on #369
I forgot to  mention: here is my authConfig.ts:

`
import extend from 'extend';

var baseConfig = {
    endpoint: 'auth',
    configureEndpoints: ['auth', 'api'],
    loginRedirect: '/',
    logoutRedirect: '/',
    profileUrl: '/auth/me',
    withCredentials: true
};

var configForDevelopment = {
    providers: {
    }
};

var configForProduction = {
    providers: {
    }
};

var config;

if (wi

[2017-12-19 18:17] boshinski opened #370 "Method 'updateAuthenticated' undefined"
I'm getting errors "Object doesn't support property or method 'updateAuthenticated' thrown" when trying to execute the following lines in AuthService.js storageEventHandler method

[code]

The problem is that there is no updateAuthenticated method defined in the Authentication class. Oddly enough, this has only manifested itself when executing in IE 11.

I'm using version 3.7.0

[2017-12-19 20:24] RWOverdijk commented on #370
Seems related to the outcome in #339

I've never had this issue before, but I think I see the problem.

https://github.com/SpoonX/aurelia-authentication/blob/master/src/authService.js#L91

I think this should be `this.updateAuthenticated();`

Would you mind testing that, and if it works submitting a PR?

[2017-12-19 21:32] boshinski commented on #370
I'm not sure I understand your answer. You say that:

When that's what it currently is and that's the problem. Since there is no updateAuthenticated() method on this.authentication. It was never defined in the Authentication class.

[2017-12-20 03:13] wpearson4 opened #371 "Auth0 LockWidget Social Provider Redirect"
Using Auth0 Lock Widget in popup mode disallows a redirect to happen when authenticating via the social providers.  Upon stepping through the code I noticed `options.auth.redirect = false` being explicitly set when mode ='popup'.  Is there a limitation when redirecting away from the popup although Auth0 will handle the redirection from the social provider?

[2017-12-20 08:15] RWOverdijk commented on #370
@boshinski Updated my reply. I copy pasted when I was busy and forgot to remove authentication.

[2017-12-20 08:16] RWOverdijk commented on #371
@wpearson4 I don't know, I haven't used that option myself. It should be easy enough to test for you if you already have it set up like this, right? Would you mind doing that?

[2017-12-21 23:18] wpearson4 commented on #371
Upon redirecting to the social login and the redirection back it seems authentication is not picked up

[2018-01-05 18:07] baconinthemorn commented on #293
Also very interested in an option like @chdev77 describes... re-directing the user instead of a pop-up is exactly the behavior we're trying to accomplish right now. I'll keep you guys posted if I am able to get it working somehow.

[2018-01-10 04:32] chdev77 commented on #293
@baconinthemorn - I was able to make it work using the sledgehammer approach. It works very well but not perfect. I need to get the renewal token working, it's a bit off. Also, after firing the redirect the console fills with exceptions but, it redirects just fine. I can fork and push my change to it and make commits there until it's clean. I'm using it in production on 5 sites for several months

[2018-01-11 17:11] baconinthemorn commented on #293
@chdev77 - I'd certainly be interested to see how you're accomplishing that. It seems like the pop-up is pretty ingrained in the implementation as it is, and from the brief time I spend looking at it, I was not able to get a working solution to circumvent the pop-up. I have not had the time to dive fully into it, unfortunately.